[2015-05-01 11:03] ronycohen commented on #247
We encounter the same issue from the PouchDB layout which use the Sqlite Plugin and Ionic Crosswalk..

plugins/io.litehelpers.cordova.sqlite/www/SQLitePlugin.js:171 OPEN database: _pouch_Db
plugins/io.litehelpers.cordova.sqlite/www/SQLitePlugin.js:102 new transaction is waiting for open operation
plugins/io.litehelpers.cordova.sqlite/www/SQLitePlugin.js:192 OPEN database: _pouch_Db failed, abortin

[2015-05-01 11:17] brody2consult commented on #248
On Apr 30, 2015 6:06 PM, "sachin123sharma" notifications@github.com wrote:

Did you have a chance to try my suggestion? I am only available for a few
more hours today and not available tomorrow due to sabbath.

[2015-05-01 11:20] brody2consult commented on #247
On May 1, 2015 1:03 PM, "ronyrun" notifications@github.com wrote:

Yes-this is now a known problem-you have to follow the workaround that I
described in some earlier comments. I will investigate this issue sometime
in the next 1-2 weeks.

[2015-05-01 11:25] ronycohen commented on #247
OK thank you brodybits

[2015-05-01 12:54] nolanlawson commented on #247
@brodybits The PouchDB test suite can be run against this plugin pretty easily. I had to update it, though, on account of the name change and a few bugs in our test structure: https://github.com/pouchdb/pouchdb/pull/3779

In any case, I can confirm that I can run the tests in both iOS and Android against this plugin, although I didn't run them to completion to see if they are at 100%. Most likely

[2015-05-01 13:05] brody2consult commented on #253
The "`wp8`" version is using the CSharp-SQLite library, which is a somewhat heroic port of sqlite to C# but some stability issues had been reported. If you target Windows Phone 8.1, I highly recommend you consider using the `windows` target which now supports both Windows 8.1 and Windows Phone 8.1.

[2015-05-01 13:09] nolanlawson commented on #247
Hm, it gets to 49% and then just stops (Android 4.4 emulator + SQLite plugin). In logcat I see a lot of:

[code]

But that's only while it's working.

Once it stops working, the last failed test is `Test _conflicts key` in the replication tests. Also I see in the logs a lot of:

[code]

^ This is repeated over and over again.

[2015-05-01 13:11] nolanlawson commented on #247
I'm guessing this is some kind of memory leak, because once I restart the tests it works fine again... for awhile.

[2015-05-01 13:31] brody2consult commented on #254
That would be an excellent idea in certain cases, and I think it would be an improvement for the `wp8` version if it uses the sqlite C library instead of the CSharp-SQLite port. But AFAIK the use of "oficial" nuget packages does not integrate very well with the Cordova CLI system of installing plugins (it should be possible to just follow the directions to create a project and install the plugin w

[2015-05-01 13:36] brody2consult commented on #254
What I think we need to do to solve the problem is to use the asynchronous API version of SQLite3-WinRT, but with a few modifications such as:
- for every sql query, get back the insertId and rowsAffected in the asynchronous response if applicable
- asynchronous execution of a batch of queries at once
- get transaction support (BEGIN transaction, do queries, then COMMIT or ABORT) right

I can look

[2015-05-01 13:47] brody2consult commented on #247
:+1:

Stupid name changes :-|

Are you using the "normal" Android installation or did you dare to try it with Crosswalk?

Do you think this is (co)rel(l)ated to the plugin? Do you think this is caused by the plugin?

This definitely needs investigation! One thing: as _now_ documented in README.md, if the result set gets too big the JSON encoding/decoding uses too much memory.

[2015-05-01 13:53] nolanlawson commented on #247
Haven't tried Crosswalk yet. For a Crosswalk-esque experience, though, you can just run a 5.0 emulator.

I agree, though, that the best would be to test Crosswalk itself, since it is slightly different from the WebView.

The tests pass in WebSQL and IndexedDB in [a variety of browsers](https://travis-ci.org/pouchdb/pouchdb), so the bug is definitely in this plugin, sad to say. :(

Also FWIW, the P

[2015-05-01 14:39] brody2consult opened #255 "Does not pass all PouchDB tests"
As reported by @nolanlawson in #247:

and another comment by @nolanlawson:

NOTEs:
- We did not (so far) try this with the Crosswalk version on Cordova on Android.
- @nolanlawson we should try this with `androidDatabaseImplementation` option set to `2` in sqlitePlugin.openDatabase() (as specified in README.md) and check results (also did we check this for iOS?)
- Blob support is removed (from Andr

[2015-05-01 14:41] brody2consult commented on #247
@nolanlawson I filed #255 to capture the problems with PouchDB. For this issue I would like to focus on testing this plugin with the Crosswalk version and finding the (root) cause.

[2015-05-01 14:48] brody2consult commented on #251
Right-keeping blob support at (very) low priority, unless people start screaming for it.

Thanks-I took a quick look (from the airport) and will try to interface it, assuming I _do_ add/fix the support for blob types.

What I think we want, which I suspect is perhaps covered by [blob-util](https://github.com/nolanlawson/blob-util), is to give a user essentially _one_ way to read and write data typ

[2015-05-01 14:51] brody2consult commented on #251
And digressing even more. Also, I am not sure if you looked at the Blob enhancements in PR #170, especially b62bdff92f68494c6b2aaafc8de5406de85d5997 which added a "`SQLBlob`" type to make the plugin work better with blogs. I had been thinking the "`SQLBlob`" type could/should become its own project, that could be useful both with this plugin and with normal Web SQL API. But if your [blob-util](htt

[2015-05-02 16:52] matb33 commented on #247
I may be off here, but this may have nothing to do with this plugin, but appears to be specific to cordova 5 and/or the new crosswalk plugin (https://github.com/crosswalk-project/cordova-plugin-crosswalk-webview) . It seems the x86 and armv7 builds are swapped. I created a brand new HelloCordova project using Cordova 5.0.0 and cordova-android 4.0.0, then installed the `cordova-plugin-crosswalk-web

[2015-05-02 18:48] brody2consult commented on #247
@matb33 that sounds entirely possible-though we should keep in mind that
the OP reported the issue with x86_64. I am still on vacation for a few
more days, will try to take a look tomorrow or perhaps even later tonight.

[2015-05-02 19:01] matb33 commented on #247
@trevorpowell can you try running the `android-armv7-debug.apk` in the emulator? This could help confirm that `x86` and `armv7` were somehow swapped.

[2015-05-02 19:36] brody2consult commented on #247
On May 2, 2015 9:01 PM, "Mathieu Bouchard" notifications@github.com wrote:

Something else: @trevorpowell already was able to get it working on x86_64
by using androidDatabaseImplementation as described in README.md.

IMHO the _right_ way to solve the problem is to build crosswalk-cordova
from source and then issue a pull request once we verify that we have
solved the root cause.

[2015-05-02 20:23] trevorpowell commented on #247
I can test using that method and the alternate apk. I was not using Cordova 5 and the Crosswalk plugin for Cordova at the time. I was using Cordova 4.3.0 and following the methods here with Crosswalk 11x:
https://crosswalk-project.org/documentation/cordova/develop_an_application.html

The x86_64 Crosswalk HelloWorld app I built worked fine on an x86_64 Android 21/22 SDK emulator but then stopped w

[2015-05-03 19:04] kaansoral opened #257 "Do databases persist between different webkits?"
I apologize if this question has been asked before or the answer is obvious

In the upcoming days, there will probably be a lot of webkit changes, so the localStorage isn't a persistent storage option anymore, when the webkit of the app changes, the data remains with the older one

Would using this plugin solve the persistence problem, does the database/location persist through different webkit ut

[2015-05-03 20:38] nolanlawson commented on #257
This plugin saves data directly to SQLite via the native Objective-C/Java/C-sharp APIs. So no, none of the browser APIs like LocalStorage, WebSQL, or IndexedDB are used at all.

SQLite Plugin has a WebSQL-like API, but it is not WebSQL. :)

[2015-05-03 23:36] kaansoral commented on #257
Thanks for the quick reply and confirmation

SQLite is an overkill for most scenarios, yet the cordova/browser solutions are not truly persistent and this plugin seems to be the best option for truly persistent storage, I will likely end up using one table, one row, one column with some serialized config and auth data :)

[2015-05-03 23:44] nolanlawson commented on #257
LocalStorage, WebSQL, and IndexedDB are persistent. :) You can kill the app, reboot the phone, restart the app, and the data will still be there. (True, iOS does sometimes delete the data unexpectedly, but only if the user is running out of space.)

If you are using such a simple setup, might I recommend LocalStorage? `window.localStorage` can be used to store strings, and it's good enough, as lon

[2015-05-03 23:48] kaansoral commented on #257
It doesn't persist when you update the app to use a different webkit, for example, if cordova moves onto WKWebView, the localstorage data will likely stay at the UIWebView

Same for Android and Chrome/Crosswalk WebView's

The data also gets reset during updates, yet lately that's not the case

I wouldn't call this persistent :)

[2015-05-04 02:11] trevorpowell commented on #247
The issue still occurs for me on the Android SDK emulator when I follow the Crosswalk HelloWorld guide and install the sqlite plugin, but works fine if I start from Cordova and install the Crosswalk webview plugin or if I use the Genymotion emulator. I am fine with closing this issue as the second method is probably the better way to go anyways.

[2015-05-04 02:58] nolanlawson commented on #257
Good point; now I see what you mean. This plugin would not have that problem. :)

[2015-05-04 03:50] brody2consult commented on #247
At the very least this issue really has to be documented in README.md which
I will do later this week.

@ronyrun can you report if this workaround will also work for you or not?

[2015-05-04 09:00] sdmdev commented on #253
thanks brodybits, but what if I dont want to change target? What is your suggestion in this case?

[2015-05-04 15:30] MisterJack49 opened #258 "Does database get deleted when the user delete the app ?"
Hi,

Does a database get deleted when the user delete the app ?

[2015-05-04 16:04] nolanlawson commented on #258
Yes, unless it's iOS and you're using the `location` option to back it up to iCloud. Even then, it's deleted from the device; it just still exists in iCloud.

[2015-05-05 10:03] brody2consult commented on #253
From your description it sounds like you found a special case where the retrieval of your date goes wrong. If you cannot reproduce this case then I would like to treat this as a minor issue, i.e. non-blocking.

In terms of the `wp8` target, I do want to keep supporting it and fix some known issues since it is needed for PhoneGap build.

If you want to investigate this issue, we have to debug how t

[2015-05-05 10:09] brody2consult commented on #248
Hi I will probably work on the SMS plugin sometime next week. Did you have a chance to try my suggestion above?

[2015-05-05 10:13] sachin123sharma commented on #248
Hay Chris ,
Sorry for delay in reply . The suggested solution for SMS Plugin Works for Wuindows Phone 8.1 .

Thanks a Lot !!! Cheers !!!
Thanks,
Sachin Sharma

[2015-05-05 12:07] brody2consult commented on #248
:+1: Very happy to hear!

Will issue PR to integrate this into the official SMS plugin when I get a
chance. May be a few weeks.

[2015-05-06 17:03] aorfevre commented on #248
Hi Chris,

I'm alreay a user of your plugin for Android & iOS and it is working perfectly so far.

It's been several days that I'm trying to implement this great plugin for WindowsPhone 8.1.

I have been testing various solution and finally ended with a solution that let me compile & run for windows phone 8.1.
I'm using following command : cordova run windows --device --archs="arm" -- -phone

I'ha

[2015-05-06 17:24] matb33 commented on #247
With regards to my particular issue that I thought was related, you can dismiss... turns out the Nexus Player is actually an x86 device. I assumed it was like all others and was arm...

[2015-05-06 17:49] brody2consult commented on #248
:+1:

Yes that is correct. Will be documented when I get a chance.

To fix this will have to use something like `long int` (`long`) for
`Database::LastInsertRowId`. It is also brute-force it with a cast (which
is probably a pretty bad idea).

Thanks, saw your mail and really appreciate your offer to help!

I did not encounter this issue myself. Perhaps you can send me an archive
of your project wh

[2015-05-06 18:06] aorfevre commented on #248
I'm already following this post : https://issues.apache.org/jira/browse/CB-8866 don't hesitate to communicate if there is any improvements concerning the implementation of this plugin for windows phone 8.1

[2015-05-06 19:48] brody2consult commented on #251
From #247:

Yes it is a very serious issue that (yours truly) managed to break the
PouchDB integration. And we know this is by far not the only major/critical
issue!

In addition, there is also some other project work (not related to this
plugin) that I really want to take care of in the next few weeks.

While I cannot make any promises, an idea I thought of is to make a special
version, just for

[2015-05-06 20:18] nolanlawson commented on #251
I think it would just add to the confusion to maintain two different versions of this repo.

PouchDB is not using the WebSQL API in any unusual way; we just happen to have a very thorough set of tests (over 1,000 now). This repo doesn't have anywhere near the same number of tests (I count 2 :)), which is why it's easy to accidentally introduce bugs.

Adding new features is fine, so long as existin

[2015-05-06 20:25] nolanlawson commented on #251
And that being said, I did fork it for the time being: https://github.com/nolanlawson/sqlite-plugin-fork. I hope to remove the fork soon.

SQLBlob looks neat. :) I'll check it out, but it doesn't impact PouchDB since we just use binary strings.

[2015-05-07 18:32] jfspencer commented on #236
@brodybits in general are there some known performance tasks that I can help with? I love this plugin and would like to help it become more performant.

[2015-05-07 20:53] brody2consult commented on #236
Thank you for your interest. I will try to give you some notes/pointers in case they may be of any use to you or someone else.

In general this is the only complaint I have seen about the performance. Memory problems had been reported in the past: for iOS it was solved by running all transactions in the background; for Android there are problems due to the JSON implementation when adding very a la

[2015-05-08 01:13] jfspencer commented on #236
Thanks for the the overview. I will start put together some pin pointed examples. I am using this plugin from the context of pouchdb so I will use websql as a performance comparison. I'll open individual issues, as you suggested, for each isolation + example app.

Thanks!

[2015-05-08 01:13] nfuria commented on #236
I saw today that there are another version of the plugin - Cordova-sqlite-common
I build an app with this version (cordova plugin add https://github.com/litehelpers/cordova-sqlite-common) and did a simple test: it works without  delays.
The same app build using the other version (cordova plugin add io.litehelpers.cordova.sqlite) is still running with delay.
What is the difference between the two v

[2015-05-08 08:42] brody2consult commented on #236
On Fri, May 8, 2015 at 3:13 AM, nfuria notifications@github.com wrote:

That is the shared source between this version and the version for
SQLCipher, and uses the built-in sqlite library on Android and iOS
versions.

Looks like for some reason, embedding our own version of sqlite3.c
causes your application to run more slowly.

It would help us if you can isolate the smallest program you make to
re

[2015-05-08 18:59] jfspencer opened #259 "Improving Read Performance (Primarily Android)"
Here is link of [two projects](https://drive.google.com/file/d/0B0-I41uSyatNSVJhX1VsTERvQWM/view?usp=sharing), one built with websql the other with sqlite. android(import into Android Studio) and iOS projects have been pre-compiled and are located in their respective platforms/[ios/android] folder for each project. Both projects were produced by ionic.

test hardware
iPhone 6 - iOS 8.3
Nexus 6 - A

[2015-05-08 19:20] nolanlawson commented on #259
Probably [this Java file](https://github.com/litehelpers/Cordova-sqlite-storage/blob/bbea468c2fec9ac9a46c7b3f5aef0e656790d977/src/android/io/liteglue/SQLitePlugin.java).

I do seem to remember that, when I was testing this last summer, I found that our switch from using Android foreground threads (aka UI thread, aka application thread) to backgrounds threads actually caused a significantly decreas

[2015-05-08 19:21] nolanlawson commented on #255
Anybody who wants to help out on this: it is exceedingly easy to run the PouchDB test suite on your own machine, [as described here](https://github.com/litehelpers/Cordova-sqlite-storage/issues/247#issuecomment-98127547).

[2015-05-08 19:36] brody2consult commented on #255
Quoted for reference here:

**EDIT:** you also have to start the CouchDB server on your localhost, as described at: https://github.com/pouchdb/pouchdb/blob/master/TESTING.md

[2015-05-08 19:37] brody2consult commented on #255
@nolanlawson I think it goes without saying that this should have been my task. Will take a look early next week.

[2015-05-08 19:41] brody2consult commented on #255
And for #236/#259: I am extremely grateful that J.F. Spencer is willing to help us with testing, measuring, and improving the performance. Let contributors in the community work where the like best :)

[2015-05-08 19:50] brody2consult commented on #259
Thanks @jfspencer for your help so far-excellent work!

@nolanlawson, as I said in #255, the problems with the PouchDB test suite should really be my responsibility, and I will deal with it sometime early next week.

I am not surprised that the Android version is measured slower, due to some factors that I will describe sometime later.

[2015-05-08 20:04] nolanlawson commented on #255
@brodybits No prob; I was going to look into it this weekend as well. :) BTW I updated the code snippet above; you no longer need a special branch, because pouchdb master is now cordova-friendly.

[2015-05-08 20:06] brody2consult commented on #259
The Android version actually contains two different implementations as described in README.md:
- by default, using https://code.google.com/p/sqlite4java/, which includes its own build of sqlite3.c
- the `androidDatabaseImplementation` option can be used to select the built-in Android database classes, which may be needed in certain cases

I am assuming that using https://code.google.com/p/sqlite4j

[2015-05-08 20:27] brody2consult commented on #259
Some things that can make the Android version slower than the iOS version:
- iOS version is written in Objective-C, which links directly to C to execute the sqlite functions. The Android version is written in Java, and uses JNI glue code to execute the sqlite functions.
- The Android version uses Java JSON; there is also GSON which is supposedly faster. I have reproduced memory problems with Java

[2015-05-08 20:36] nolanlawson commented on #259
According to Instagram anyway, the fastest JSON serializer/desierializer on Android is their [IG-JSON](http://instagram-engineering.tumblr.com/post/97147584853/json-parsing).

[2015-05-08 21:58] jfspencer commented on #259
Thanks for this feedback, I will add write and read/write tests to the test app. I'll start on the JSON library first then. I'll compare GSON and IG-JSON libraries and see what affect they have.

Thanks!

[2015-05-09 05:17] nolanlawson commented on #255
FWIW, I just manually confirmed 100% tests passing for Cordova apps in:
- Android 5.1, 4.4, and 4.2
- iOS 8.3
- Firefox OS 3.0.0

I found the fastest way with Android is to use Genymotion, then (assuming CouchDB is installed) using the option:

[code]

(This was just a sanity check to make sure that the problem wasn't with PouchDB itself.)

[2015-05-09 05:28] brody2consult commented on #255
Do you mean that you tested with my plugin, or something else?

Also how are you running the tests with Firefox OS, which this plugin does not (yet) support?

[2015-05-09 05:47] nolanlawson commented on #255
Ah sorry for the confusion, I meant I was testing _without_ the plugin. :) Just a sanity check to make sure that the failures were really due to this plugin.

And yeah, I don't blame ya for not supporting FirefoxOS, given that they didn't make it possible. ;)

[2015-05-09 06:20] brody2consult commented on #255
I remember something now, which I discovered from BUG #232. If tx.executeSql() calls the error handler: the plugin will continue only if the error handler returns `false`, while Web SQL continues if the error handler returns a non-true handler. (I tested what if the error handler returns `1` or a non-empty string, and both the plugin and websql will abort the transaction in this case.) This was du

[2015-05-09 06:31] brody2consult commented on #255
Of course, the problem in #232 would be very easy to fix, but I try to follow a test-first approach (which may not always be the best thing). The workaround (as I said in #232) is for the SQL error handler to explicitly return `false` if the transaction should be recovered.

Also, #226 uncovered another issue. If a transaction SQL error handler returns TRUE, no more SQL callbacks should be fired b

[2015-05-11 09:07] brody2consult commented on #129
Version for Windows 8/8.1 is now released, closing.

[2015-05-11 09:07] #129 closed

[2015-05-11 09:46] keyz182 opened #260 "The state of Blob Support?"
Hi,

I'm currently maintaining an offline mapping application. For the offline mapping, I use the [MBTiles format](https://github.com/mapbox/mbtiles-spec), which is basically an SQLite db with map tiles (usually PNG/JPG) stored as BLOBs.

I also need to use SQLite for other data storage purposes in the app.

Until now, I have been using your plugin for data storage, and [cordova-plugin-mbtiles](ht

[2015-05-11 12:08] sachin123sharma opened #261 "cordova-plugin-background-mode for Windows 8.1"
Hi,
Please suggest how can we call "resume" and "pause" event (to check whether app is in foreground or background) in Windows Phone 8.1.

[2015-05-11 12:13] sachin123sharma commented on #248
Hi Chris,
Need one help (again).
 Please suggest how can we call "resume" and "pause" event (to check whether app is in foreground or background) in Windows Phone 8.1.

[2015-05-11 12:22] brody2consult commented on #248
Do you mean you want to use the functionality from `cordova-plugin-background-mode` (https://github.com/katzer/cordova-plugin-background-mode) on Windows Phone 8.1, or do you mean something else?

[2015-05-11 12:26] brody2consult commented on #261
Not part of this project (@sachin123sharma we can keep the discussion in #248).

[2015-05-11 12:26] #261 closed, assigned to nobody

[2015-05-11 12:32] sachin123sharma commented on #248
Yes, we want to fire some event when app is resumed.

[2015-05-11 12:40] brody2consult commented on #248
I can look at this tomorrow (busy with some other issues today).

[2015-05-11 12:50] sachin123sharma commented on #248
Also I would like to know , if we have a plugin available for Pull to Refresh feature for Windows phone 8.0,windows phone 8.1 .

[2015-05-11 14:01] ronycohen commented on #247
@ronyrun can you report if this workaround will also work for you or not?

YES IT WORKS :+1:

[2015-05-11 18:41] jfspencer commented on #259
So it looks like I had a whitelisting configuration issue that was silently failing the tests and made performance worse with in the android sqlite tests. here are the new baseline results.

Summary:
Android SQLite is 23% faster than webSQL when doing parallel batch(groups of 10) operations. webSQL is still 15% faster at ordered serial reads. Random serial reads and allDocs usage are now on par wi

[2015-05-11 20:15] brody2consult commented on #259
Looks like you copy-pasted the same results as before, or am I mistaken somehow?

[2015-05-11 20:17] brody2consult commented on #259
Also, you are welcome to explore JSON alternatives but I highly recommend you start with profiling to measure how significant the JSON processing time really is.

[2015-05-11 21:20] jfspencer commented on #259
I did copy the test section and then updated the android SQLite numbers and associated percentage differences. I will do some tracing, thanks!

[2015-05-12 07:25] brody2consult opened #262 "Blackberry (10) version?"
#260 has a pointer to [ffournier / cordova-plugin-mbtiles](https://github.com/ffournier/cordova-plugin-mbtiles) which supports reading from a database and I discovered has a Blackberry 10 version (written in C++). Looks like a nice starting point.

[2015-05-12 07:31] brody2consult commented on #260
Sorry I didn't respond yesterday. I am in the process of some major restructuring and was also planning some changes to the blob interface. I found that maintaining the existing behavior of blob handling was getting in my way. Also, the existing code seems to support the _reading_ of blob fields from the database but _not_ writing blob fields _to_ the database, making this a very limited case.

Fo

[2015-05-12 07:35] aarononeal commented on #232
The [spec](http://www.w3.org/TR/webdatabase/) says:

The last step in the overall steps is:

So, if you don't want the transaction to fail, you need to provide an error callback and explicitly return false.

Unless I misinterpreted something, it sounds to me like the plugin is behaving correctly and when I added PR #170 I updated the tests for this.

[2015-05-12 07:57] aarononeal commented on #260
MBTiles support was the scenario I had in mind when I implemented the original blob support. In this case, external tools are used to populate the tile database and apps just need to read the cached image back.

Although not needed for this scenario, native Blob writing support for iOS and Android was part of the same commit, so unless that didn't get integrated, the statement above is not entirel

[2015-05-12 08:15] brody2consult commented on #260
@aarononeal, I only integrated the changes to remove the embedded LIBB64 from the iOS version. I was planning to look at your other blob enhancements after I am finished with some project restructuring.

I liked your SQLBlob but was thinking it could be its own project that could also help people using normal Web SQL (in the browser).

[2015-05-12 08:22] brody2consult commented on #260
I don't completely understand what you are trying to ask.

AFAIK: in general Cordova does not internally care about Base64. Cordova is simply using JSON encoding and decoding to facilitate communication between the Javascript part and the native part, as transparently as possible.

[2015-05-12 08:32] aarononeal commented on #260
The JS SQLBlob could certainly be a standalone component. I had been considering including it with a general DataURL project that I've been planning to publish. But, all of the native side still needs to be integrated into the plugin to enable the possibility of binary blobs, and you could do this today as an option for folks even without the JS SQLBlob piece.

About base64--you mentioned you were

[2015-05-12 08:52] keyz182 commented on #260
Thanks for the responses. As @aarononeal mentioned, MBTiles need only read blobs. Base64 is useful for MBTiles as the base64 image is inserted into the <img> tag directly, leaving the browser to decode.

I'm also wondering what alternatives you have in mind to Base64 to pass binary data from Plugin to JS?

[2015-05-12 09:28] brody2consult commented on #260
Agreed. We know that in general, Base64 was used to make it easier for Javascript to handle what is normally binary-encoded data.

One thing I really had wanted to avoid was encoding and decoding Base64 in Javascript itself.

Also, PouchDB took a different solution to handling binary data, as described in the **WebSQL** case of https://github.com/nolanlawson/state-of-binary-data-in-the-browser/blo

[2015-05-12 09:33] brody2consult commented on #255
@nolanlawson am I correct that it possible for PouchDB to store binary data using this plugin _without_ using Base64? I need this answer for the discussion in #260.

[2015-05-12 12:00] brody2consult commented on #232
I would agree with you according to the spec, however this Web SQL seems to behave differently (at least in Android and iOS) as shown by the old tests. I will add some more tests to show this in the next few days.

So the question becomes whether we should follow the spec more strictly at the risk of breaking apps that are working in the browser (web) SQL. My preference, at least in this case, is

[2015-05-12 12:28] nolanlawson commented on #232
Hm, that's weird, never seen it behave differently myself. If you don't want the transaction to fail, you need to pass in an error callback that returns false. In fact, we rely on this behavior in the PouchDB test suite, and the test passes on PhantomJS/Android/Chrome/iOS/Safari, so that would be one way to confirm it. :)

[2015-05-12 12:30] nolanlawson commented on #255
PouchDB stores binary strings in WebSQL/this plugin, not base64-encoded strings or Blobs. I actually added some tests to confirm the the behavior of this plugin matched WebSQL: https://github.com/litehelpers/Cordova-sqlite-storage/commit/05ff6cc0389f582c0c06f3d4f22d8600cd05d797

[2015-05-12 12:31] nolanlawson commented on #260
@brodybits Answered here: https://github.com/litehelpers/Cordova-sqlite-storage/issues/255#issuecomment-101258691

[2015-05-12 12:43] brody2consult commented on #255
Okay, when I look at the test in the commit it says "unicode" and _not_ "binary data". Do we simply infer that if a "Unicode" test is passing then we can expect a binary data test to pass?

Actually, after reading your blog entries, I think we can consider "binary data" to be very similar to Unicode, in that when passing back and forth between Javascript and any data-storage library, we should be

[2015-05-12 13:18] nolanlawson commented on #255
Sorry, that's a misnomer. That test is also checking whether the database supports UTF-16 (Safari <8) or UTF-8 (everything else), hence my focus on unicode.

As long as you can store strings in JavaScript exactly as-is, this plugin will pass the tests just fine. :) So yes.

[2015-05-12 16:06] rubensayshi commented on #247
[code]

`androidDatabaseImplementation:2` fixed this issue for me too, xwalk also being the thing that introduced all the problems but that might also be because without xwalk it does not build different APKs for each architecture but just one ...?

[2015-05-12 16:35] aarononeal commented on #232
Prior to PR #170 the plugin would continue the transaction if a handler was either missing or returned non-true (which includes no return value) as opposed to explicit false, which I don't believe matches the spec or a desirable behavior. In that PR, I corrected the plugin to match the spec above which not only simplifies the error handling code you have to write, it allows you to detect issues yo

[2015-05-12 16:53] aarononeal commented on #255
I looked at that before creating the blob solution in PR #170. The two solutions are not mutually exclusive because Nolan's solution is not actually storing data using the sqlite blob type.

PR #170 gives you the option to work with real binary data in sqlite which is required in scenarios where your databases are created by 3rd party authoring tools--something much more likely in Cordova apps tha

[2015-05-12 17:14] aarononeal commented on #255
To clarify some implementation details, the SQLBlob in PR #170 stores data in memory as either a Base64 or url encoded UTF-8 string. The latter should perform fairly well in most circumstances.

Data can be extracted for column binding with either `toString` or transparently through `valueOf` if an app needs full binary compatibility and a sqlite blob column type, or an app can use `toBase64`, `to

[2015-05-12 17:23] aarononeal commented on #255
One more clarification. :) Regardless of SQLBlob's implementation, the actual changes on the native side from PR #170 continue to support storing binary data in sqlite string columns, they just add a path for using real sqlite blob columns too.

[2015-05-12 17:27] brody2consult commented on #255
I would like to address a couple points you make about PouchDB:

Looking carefully at some of the code changed by pouchdb/pouchdb#2900:

[code]

we see that the binary data is coming form the `body` column.

And here is the SQL that I found where the `body` column is actually created:

[code]

So I would argue that the PouchDB adapter is using BLOB in the sql.

Can you think of a case that can pro

[2015-05-12 17:37] aarononeal commented on #255
https://www.sqlite.org/datatype3.html

What this means is that the SQLite column types specified when the table is created are for informational purposes only. Column type is actually determined at the time the row is inserted and if you step through the code as I did when creating SQLBlob, you'll see that the plugin in the PouchDB case is doing a string binding on the blob column. You can do a se

[2015-05-12 17:38] aarononeal commented on #255
Also, it's fine if we move SQLBlob to another project, but there were other changes from PR #170 on the native side for Android that I think were never integrated. Those would need to be in place for a solution like SQLBlob to support true blob columns.

[2015-05-12 17:49] brody2consult commented on #255
Yup!

Correct. We definitely don't want to take the same approach as PouchDB when storing binary data.

Moving further discussion about dealing with blobs (back) to #260.

[2015-05-12 18:02] nolanlawson commented on #255
The `\u0000` hack is to work around bugs in the WebSQL implementation. I've filed bugs on both [Chromium](https://code.google.com/p/chromium/issues/detail?id=422690) and [Webkit](https://bugs.webkit.org/show_bug.cgi?id=137637), and they've assigned the issues but haven't fixed them yet.

I didn't believe this at first, so I checked it out in the debugger:

![screenshot 2015-05-12 13 58 33](https:/

[2015-05-12 18:25] aarononeal commented on #255
Indeed, I had added to that WebKit bug you filed to add more context about the root cause when I fixed the same issue in this plugin.

Regarding column types, thanks for confirming. :-) It was a surprise to me too initially.

The problem with HTML 5 Blobs as far as I have been able to tell is that there is no way to marshal them across the JS / native boundary using the techniques that Cordova emp

[2015-05-12 18:30] aarononeal commented on #255
I forgot to mention, regardless of the marshaling constraints I mentioned above, PR #170 actually does store data in sqlite blob format, so depending on your data, there are storage efficiency gains.

[2015-05-12 18:50] brody2consult opened #263 "Support storage of BLOB type"
@aarononeal proposed some changes in PR #170 that will support the storage as well as retrieval of the BLOB type. In addition, both @nolanlawson and @aarononeal expressed some desire in #255 for the storage of the BLOB type, mostly for efficiency reasons. Ideally, the plugin would detect the storage of a binary column (which would probably be an instance of the `Blob` class) and handle the storage

[2015-05-12 18:54] brody2consult commented on #255
@nolanlawson, that actually makes things easier for me, for the time being. Plenty of other backlog for me to deal with!

Absolutely! I just file #263 for this.

[2015-05-12 18:58] brody2consult commented on #260
As stated in README.md, the BLOB type is currently not supported. I am still extremely busy dealing with some other issues, and am also planning some changes to the API to improve the handling of large SQL batches.

Looking through the code, here is the state of the blob support, **which is subject to change**:
- _storing_ of blobs has never been supported. ~~File~~ #263 _was filed_ as a possible

[2015-05-12 19:05] aarononeal commented on #263
In addition to efficiency, #260 outlines the MBTiles scenario which adds the requirement of being compatible with 3rd party generated sqlite content, which means:
1. Support for sqlite BLOB column type
2. Data must have byte for byte accuracy while stored

Also, we need to be careful about what compatibility we provide with HTML5 Blobs. Depending on the scenario, you can actually take a performanc

[2015-05-12 19:33] brody2consult commented on #45
To execute a PRAGMA statement, please use `db.executeSql()` _as documented in README.md_.

I will add a note to README.md to make this more clear.

[2015-05-12 19:42] brody2consult commented on #251
One thing: I do have continuous integration working as follows:
- for Android, running full test suite on Circle CI (takes over 90 minutes)
- for iOS, running a minor subset of the existing test suite on Travis CI (cannot run full test suite since Travis CI limits each run to 50 minutes)

For working with Saucelabs: I do fully support this level of CI testing, unfortunately cannot say when I will

[2015-05-13 16:42] luigi37 commented on #224
Hi, any progress here? Happy to beta test if needed... Thanks!

[2015-05-13 17:18] brody2consult commented on #255
@nolanlawson I followed the steps you gave me to clone and do local `npm install` of PouchDB (but with manual installation of `node-ffi` and `node-exec-sync` due to the issues I encountered in pouchdb/pouchdb#3841), but encountered the following error output when I tried `SQLITE_PLUGIN=true ADAPTERS=websql npm run cordova`:

[code]

Will try another way to run the tests.

[2015-05-13 19:56] nolanlawson commented on #255
@brodybits Currently our build only supports Node 0.10. If you use `nvm` you can switch to 0.10 and that should fix your issues.

[2015-05-13 19:58] nolanlawson commented on #224
Firefox OS support would require a shim for WebSQL over IndexedDB, since Mozilla has taken the position that they will never support WebSQL nor allow access to SQLite (even though they use it under the hood for IndexedDB).

@agershun and I had some ideas to build such a thing, but I admit I lost interest. He put some effort into the SQL parser, though: https://github.com/agershun/WebSQLShim

[2015-05-13 19:58] nolanlawson commented on #224
Alternatively you could use [SQL.js](https://github.com/kripken/sql.js), but it does not persist to disk.

[2015-05-13 21:52] brody2consult commented on #255
I used `tj/n` to switch to node 0.10.38, and the `npm install` issues went away. (I cannot imagine it should be too hard to fix the problems, though suspect no-one has any extra time.)

I discovered that I (still) have to start the Couch server (as described in the PouchDB TESTING.md), and just updated the comment with the testing instructions above to reflect this.

I had to fix `tests/integratio

[2015-05-14 06:28] shikelong opened #265 "what's the difference between $cordovaSQLite.openDB and sqlitePlugin.openDatabase?"
I user  the version--
io.litehelpers.cordova.sqlite 0.7.8-dev "Cordova sqlite storage plugin"

on android platform.
i can't find  sqlitePlugin object . and i can't use openDB() to open a database.
there is in my console:
open  failed, aborting any pending transactions.

thx!

[2015-05-14 06:43] brody2consult commented on #265
then try `window.sqlitePlugin` object

If you use `window.sqlitePlugin.openDatabase()`, you get the API as documented in README.md, which should match the standard Web SQL API very closely.

If you use `$cordovaSQLite.openDB()`, you get a promise-based API. The API is documented in http://ngcordova.com/docs/plugins/sqlite/ but right now it has a major mistake: the page tells you to call `$cordovaS

[2015-05-14 07:07] shikelong commented on #265
Thank you very much.
At first I inspect $window.
then i use:
var db = window.sqlitePlugin.openDatabase({name: "my.db", androidDatabaseImplementation: 2});
i find it work well.

[2015-05-14 07:12] #265 closed, assigned to nobody

[2015-05-14 08:29] shikelong opened #266 "On the Android platform,where can I found my (sqlite)db file?"
[code]

first I open sqlite database. but i can't find a file named my.db. where it exists?

[2015-05-14 08:33] brody2consult commented on #266
/data/data/app.package.name/databases but you cannot see it on a non-rooted device without special tools: http://stackoverflow.com/questions/15326455/what-is-the-default-database-location-of-an-android-app-for-an-unrooted-device

Needs to be added to the documentation (when I get a chance).

[2015-05-14 08:35] shikelong commented on #266
ok. thx.

[2015-05-14 08:35] #266 closed, assigned to nobody

[2015-05-14 12:38] nolanlawson commented on #255
You mean the connection to CouchDB? Make sure it's accessible on `localhost:5984` and that you have run `add-cors-to-couchdb` to set up CORS: https://github.com/pouchdb/add-cors-to-couchdb

You shouldn't need to move the index.html anywhere. For me, the tests work fine by just starting an Android emulator (NOT Genymotion - the 10.0.2.2 path to localhost doesn't work; it's 10.0.3.2 instead) and run

[2015-05-14 12:40] nolanlawson commented on #255
Oh right that `gap` thing was added recently to fix blackberrry. My bad!

[2015-05-14 21:16] luigi37 commented on #224
Yes, really a shame Firefox OS does not support WebSQL. SQL.js looks promising... I'm unsure about the persistency issue... Thanks. I will give those two a look.

[2015-05-14 21:16] #224 closed

[2015-05-15 07:14] sachin123sharma opened #268 "new Date() not working"
Hi,
I am using this plugin for Windows Phone 8.1 Universal app. I have a requirement where I have to insert current date in my table, for which I am using "new Date()" function. But application hangs when this function is encountered.
Pls suggest how I can insert current date in my db.

[2015-05-15 08:49] brody2consult commented on #138
Answer will be documented when I get a chance. Reopening so I don't forget.

[2015-05-15 09:14] sachin123sharma commented on #268
Able to proceed using Date.now()

[2015-05-15 09:14] #268 closed, assigned to nobody

[2015-05-15 10:50] brody2consult commented on #230
The test was failing due to a dependency on the `sqlite_master` table.

[2015-05-15 10:50] #230 closed, assigned to nobody

[2015-05-15 11:54] brody2consult commented on #244
FTS3/FTS4 should be working now. Please report if you have any more problems.

[2015-05-15 11:54] #244 closed, assigned to nobody

[2015-05-15 11:55] brody2consult commented on #259
I just updated the iOS version to build with support for FTS3/FTS4, column metadata, and R-Tree. I don't expect this to have a major effect but cannot say for sure.

[2015-05-15 11:56] brody2consult commented on #246
FYI I just updated the Javascript to make sure the database name is given as a string, and throw an exception if not. Will add a test when I get a chance.

[2015-05-17 02:02] keith-kurak opened #269 "Clarification on iOS support for "Sample with transaction-level nesting""
On the sample "Sample with transaction-level nesting" in the documentation, it mentions at the end "This case will also works with Safari (WebKit), assuming you replace window.sqlitePlugin.openDatabase with window.openDatabase".

If I understand correctly, using window.openDatabase() will cause the database to be opened/ created in the WebSQL space within the browser with the restrictions inherent

[2015-05-17 14:05] crazyshock opened #270 "Copy database for SD Card?"
Its possible copy database for sd card? If yes, how?

[2015-05-17 15:12] nolanlawson commented on #270
On Android the database is stored in `/data/app/your.app.package/databases`. You can write native Java code to copy it to the SD card.

[2015-05-19 08:48] mirko77 opened #271 "SQLitePlugin.js catching general js errors at line 375?"
I am facing a weird issue when remote debugging using Chrome Dev Tools

The `SQLitePlugin.js` at line 374 (`catch (_error)`) is also catching general errors I have in my script, therefore the console does not show me the error messages.

I had to add the line `console.error(_error.message);` after the `catch` so it displays the error in the console. It happens even though I am not interacting with

[2015-05-19 09:47] brody2consult commented on #271
If you have a transaction error callback it _should_ be able to see the same information in the message member of the error parameter object, i.e. `err.message` or `error.message`.

[2015-05-19 10:15] mirko77 commented on #271
@brodybits I do not have a transaction going on sometimes and it is still catching the error. You are right though, if there is a transaction error callback the error message gets displayed there. I am wondering why it happens when no transactions are being processed.

[2015-05-19 10:47] brody2consult commented on #271
In general: You know the API is completely asynchronous so your db.transaction() call would _always_ return before your transaction statements are actually executed. Also, in case someone calls executeSql() on a transaction object after it is finalized SQLitePlugin.js will simply throw an exception (which should not be automatically caught).

[2015-05-19 11:00] brody2consult commented on #271
In case of this observation please try to isolate the scenario as much as possible. This really should not happen.

[2015-05-19 11:48] mirko77 commented on #271
I know, I will look into it and post my findings, thanks

[2015-05-19 13:36] ArnaudValensi commented on #271
I have the same problem. Here is my function to make the requests:

[code]

The function `function catchAllErrors` is where takes place this problem.

[2015-05-19 13:55] mirko77 commented on #271
@ArnaudValensi that function `catchAllErrors` is supposed to be called when there is a transaction error, if I am not mistaking?

[2015-05-19 15:24] ArnaudValensi commented on #271
@mirko77 I think so, I mean it would seem logic to me.

[2015-05-19 15:57] brody2consult commented on #271
@ArnaudValensi, if the error handler of tx.executeSql() does not return false, then db.transaction() will call its error callback if there was a sql error. This _is_ according to [the W3 database spec](http://www.w3.org/TR/webdatabase/) as @aarononeal says in [this comment in #232](http://www.w3.org/TR/webdatabase/):

[2015-05-19 16:09] front-a-little commented on #248
I've followed the instructions above to install https://github.com/litehelpers/Cordova-sqlite-storage to my project via Cordova CLI but when I build it for Win8.1 Phone via `cordova build windows` I get following error message:

I understand the problem but can't find a way to tell Cordova to build this for x86 or is this related to my general setup ?

[2015-05-19 16:35] brody2consult commented on #248
From [this comment in apache/cordova-windows/#67](https://github.com/apache/cordova-windows/pull/67#issuecomment-97033277)

[2015-05-21 18:03] brody2consult commented on #147
I just discovered this article: http://timelessrepo.com/json-isnt-a-javascript-subset that helps explain the problem with the UNICODE line separator character. Suspect this bug is with cordova-ios.

[2015-05-21 18:21] brody2consult opened #272 "Windows 10 integration"
This needs to be tested. Not sure if this will work since Windows 10 uses the same package for both Windows desktop and Windows Phone. Pointed out by @vjrantal.

[2015-05-22 05:50] AshokBR opened #273 "how to retrieve data from cordova sqlite database in android java"
how can retrieve the sqlite database data created by cordova in android java
plz give me the solution..f

[2015-05-23 18:59] nolanlawson commented on #259
@jfspencer interesting results! I'd be interested to see a comparison of iOS WebSQL to iOS SQLite, though. iOS to Android is not really an apples-to-apples comparison. ;)

[2015-05-24 10:17] vjrantal commented on #272
I have tested that a plugin with a similar build structure (https://github.com/AllJoyn-Cordova/cordova-plugin-alljoyn) can be built as a part of a Windows UWP app, but the Cordova Windows 10 support is currently implemented so that it picks up the referenced desktop project and the end result does not work on phones.

I believe to make these kind of plugins fully supported in the Cordova Windows 1

[2015-05-26 11:22] aasavad opened #274 "Rollback after nested transactions"
Hi Chris,

Thanks for all your help so far.

I need to populate few tables from multiple webservices to use the app offline.

If the network get disconnected during  this data download process(if any of the http call fails), all the records populated so far should rollback.(It should roll back all the transactions and the table data should be reverted back to previous state).

The structure is as

[2015-05-26 11:46] brody2consult commented on #274
As described in https://sqlite.org/lang_savepoint.html this should be supported by the sqlite SAVEPOINT, RELEASE, and ROLLBACK commands. However, this may not be compatible with the use of BEGIN/COMMIT/ROLLBACK as used internally by this plugin. In addition, the Android version has a different API in case someone uses the `androidDatabaseImplementation: 2` option or uses the version for sqlcipher.

[2015-05-26 11:49] brody2consult commented on #274
Please let me know how important this is for your project. I may have some work coming in and will have to plan accordingly.

[2015-05-26 12:19] brody2consult commented on #273
You can open the database using the standard Android sqlite database API.

[2015-05-26 12:19] #273 closed, assigned to nobody

[2015-05-26 12:21] #271 closed, assigned to nobody

[2015-05-26 12:43] AshokBR commented on #273
can you send me the sample code .....
SQLite is already created by cordova/phonegap using jquery ...... i want to retrieve the same data using java .........plz send me the sample code ...

[2015-05-26 13:30] aasavad commented on #274
Hi Chris,

This is really important for my project because one of  the tables will have around 60-75k records and i feel rollback would be best option to handle the mentioned scenario.

I tried setting the previous records for delete after successful insert from the latest http call but this consumes a lot of time ( i have to loop around previous records and set the flag, and delete after new reco

[2015-05-26 14:25] brody2consult commented on #274
I will probably need 3-4 weeks, due to my workload. I am also starting to give higher priority to paid projects coming in.

[2015-05-26 17:01] brody2consult commented on #39
Added to README.md

[2015-05-26 17:01] #39 closed

[2015-05-26 20:08] brody2consult commented on #232
Agreed with @aarononeal and @nolanlawson and covered in test suite.

[2015-05-26 20:08] #232 closed, assigned to nobody

[2015-05-26 20:12] brody2consult commented on #45
Note added to README.md to make this clear.

[2015-05-26 20:12] #45 closed

[2015-05-27 09:32] aasavad commented on #274
Thanks Chris

[2015-05-27 14:43] brody2consult commented on #272
Hi @vjrantal it was great to finally speak with you in person at the PhoneGap EU conference in Amsterdam.

Just a reminder that unfortunately, my experience with the Windows platform is still extremely limited and I will still have some very basic questions.

First, can you quickly explain what you mean by a "Windows UWP app"?

My understanding is that at least the Javascript API should be the sam

[2015-05-28 09:49] vjrantal commented on #272
I mean the new types of apps that are only supported on Windows 10 devices https://msdn.microsoft.com/en-us/library/dn894631.aspx. Cordova currently has experimental support for building this types of apps https://github.com/apache/cordova-windows/blob/master/cordova-windows10.md.

One thing to note is that Windows 10 is backwards compatible in a way that the apps you build for Windows 8.1 will ru

[2015-05-29 09:27] Knopex opened #275 ""Uncaught #<Object>", source: file:///android_asset/www/plugins/io.litehelpers.cordova.sqlite/www/SQLitePlugin.js (294)"
Sometimes I get this weird error.
I do an ajax-call to a php which returns a JSON with some data. In the php i put some data into an array and json encode it.
In my javascript I make sure that the data I use is an object:
`var myObject = JSON.parse(JSON.stringify(data));`

Then I try and insert the data into my tables:

[code]

I iterate through this function some odd 50 times, sometimes it works

[2015-05-29 09:45] brody2consult commented on #275
Looks like you are using Angular (perhaps Ionic?), with the Android version.

My suggestion is to first debug your application using Web SQL, if you have not done so yet.

The plugin ID has changed very recently, please make sure you use the latest version when raising bug reports.

Unfortunately, the code you posted is not a self-contained program, and part of the db.transaction() call is missing

[2015-06-01 12:52] durgaprasadp commented on #150
Hi Friends,

 Please help me i am new to cordova application development and i got below exception while login or access application multiple times please help me,Thanks in Advance

06-01 18:19:53.533: E/SQLitePlugin(16127): unexpected error, stopping db thread
06-01 18:19:53.533: E/SQLitePlugin(16127): android.database.sqlite.SQLiteDatabaseLockedException: database is locked (code 5): , while com

[2015-06-01 13:04] brody2consult commented on #150
@durgaprasadp I am very sorry but this is not enough information to help you and from the log, I can see that you are using an old version of the plugin. Also, this issue was regarding a small fix that was needed in the past. The fix has been applied and this issue is now closed.

Please upgrade to use the latest version of this plugin. If you are still having problems, please do the following:
-

[2015-06-01 13:54] durgaprasadp commented on #150
Hi Brodybits,

Thanks for replay i updated new Sqlite plugin but in that alter command not working. I am using below code for adding new column to existing table

dbObj
			.transaction(function(tx) {
				tx
						.executeSql(
								"select column_name from table_name LIMIT 1",
								[],
								function(tx) {
								},
								function(tx) {
									tx
											.executeSql('ALTER TABLE tab

[2015-06-01 14:15] brody2consult commented on #150
@durgaprasadp can you try opening the database with `androidDatabaseImplementation: 2` as described in README.md and try it again?

[2015-06-01 17:09] dcp3450 opened #276 "Can I specify a [pre-populated db] location in Windows 8.1?"
I'm working on an app that will have a prepopulated database. Using `myDB = window.sqliteplugin.openDatabase({name:"myDB"});` creates the database at `c\users\[USERNAME]\AppData\Local\Packages\io.cordova.[set of numbers and letter]`

However, when I have the final app I'd like the app to read from my prepopulated database instead of creating its own. I didn't see this option in the documentation.

[2015-06-01 17:18] brody2consult commented on #276
Looks like you did NOT specify the package ID when you did `cordova create project`.

You can use the File API plugin to copy the pre-populated database into the right location. I recommend that you _first_ make sure the database is _not_ present in the destination location.

[2015-06-01 17:21] dcp3450 commented on #276
Thanks for the quick response @brodybits . I used Visual Studio 2015 to create the Cordova project. I didn't see an option to provide the package ID. Where can I locate the FILE API plugin?

[2015-06-01 17:27] brody2consult commented on #276
Looks like an issue with the Visual Studio Cordova add-on. Should be reported as a bug, perhaps on the Apache Cordova project.

https://github.com/apache/cordova-plugin-file

I would like to get this into the Windows "Universal" version at some point. Not too hard for Windows "Universal" since it is mostly Javascript.

[2015-06-01 17:53] dcp3450 commented on #276
I have it installed. I'm working on the DB now. I've looked over the doc as well. Can you point me to the documentation that reviews your suggestion: getting the current file, determining the correct destination, and copying the file there.

Sorry for the large ask I'm new at working with windows with Cordova.

[2015-06-02 05:35] durgaprasadp commented on #150
Hi Bordybits ,

As per your suggestion i tried with below code but alter command not working below go thourght the code and suggest me .

Thanks in Advance

<script type="text/javascript">
		var dbObj
		function ConectionDb() {

			try {
				var Database_Name = 'temp.db';

				dbObj = window.sqlitePlugin.openDatabase({
					name : Database_Name,
					androidDatabaseImplementation : 2
				});

[2015-06-02 09:06] durgaprasadp commented on #150
Hi Bordybits ,

<script type="text/javascript">
		var dbObj
		function ConectionDb() {

			try {
				var Database_Name = 'temp.db';

				dbObj = window.sqlitePlugin.openDatabase({
					name : Database_Name,
					androidDatabaseImplementation : 2
				});

				dbObj
						.transaction(function(tx) {
							tx
									.executeSql('CREATE TABLE IF NOT EXISTS Conga_Applications (Application_ID , Appli

[2015-06-02 09:07] durgaprasadp commented on #150
<script type="text/javascript">
		var dbObj
		function ConectionDb() {

			try {
				var Database_Name = 'temp.db';

				dbObj = window.sqlitePlugin.openDatabase({
					name : Database_Name,
					androidDatabaseImplementation : 2
				});

				dbObj
						.transaction(function(tx) {
							tx
									.executeSql('CREATE TABLE IF NOT EXISTS Conga_Applications (Application_ID , Application_Name, App

[2015-06-02 09:22] Knopex commented on #275
Thanks for the help, I update to the latest plugin version and still got the same error, it just moved to line 297 in the SQLitePlugin.js, but I found a workaround.
I'm using the latest Cordova version(4.0.0) with jQuery 1.11.3 and jQuerymobile 1.4.5.

I open the DB in my DeviceReady function like so:

[code]

When I would use the SQL in a function I would open a transaction like this:

[code]

Wh

[2015-06-02 12:44] brody2consult commented on #275
Thanks again @Knopex for reporting this, does look like a bug although I still cannot be 100% sure without a self-contained reproduction scenario. BTW I am planning to move the existing database transaction API into a separate project, and replace it with a simpler sql transaction API.

[2015-06-02 14:31] Knopex commented on #275
Here is a self-contained scenario that throws the error: `"Uncaught #<Object>", source: file:///android_asset/www/plugins/cordova-sqlite-storage/www/SQLitePlugin.js (297)`
This is using the latest Cordova version(4.0.0) with jQuery 1.11.3 and jQuerymobile 1.4.5.

[code]

The first ajax gets a JSON like this:

[code]

the second ajax gets a JSON like this one:

[code]

[2015-06-02 14:52] keetonicc opened #277 "Issue in Android"
I've been able to successfully use this awesome library for weeks now, but seem to have run into a problem with one of the recent updates. When I do "cordova run android", during the build, I get the message:
Note: home/administrator/Workspace/analytics/app/analytics/platforms/android/src/io/liteglue/SQLiteAndroidDatabase.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:depreca

[2015-06-02 15:06] brody2consult commented on #275
If you request data from within a transaction, it is not allowed to execute sql on the transaction object when you get a callback at a later point in time.

Looking at your program, I would change it as follows:
- start with a database transaction simply to create the tables if the do not exist
- in the success callback of the first transaction, then you get the update info (using ajax)
- once you

[2015-06-02 15:08] brody2consult commented on #275
In general, in case of any doubts about how the API is working, I recommend you try your program using normal Web SQL first.

I will update the documentation to make this more clear when I get a chance.

[2015-06-03 04:16] dcp3450 commented on #276
I have my database in a local folder at `www/db` and I can get my destination using `Windows.Storage.ApplicationData.current.localFolder.path`. I'm just struggling on how to use the copyTo method. I have the option according to line 1069 of the `FilePrody.js` for Windows located at `/plugins/cordova-plugin-file/src/windows/`. There isn't any documentaiton that specifies how to use the `copyTo` met

[2015-06-03 12:57] brody2consult commented on #277
Looks like something went wrong loading the native library. As a workaround, you can add the option `androidDatabaseImplementation: 2` when you open the database to use the old implementation.

Which CPU architecture are you running this on?

[2015-06-03 13:01] brody2consult commented on #276
What I am thinking is to add the pre-populated database option to the new Windows version as this may help some more users. I can probably work on this next week.

[2015-06-03 18:01] dcp3450 commented on #276
Yeah, I'm rebuilding an app in Windows that was originally on iPad. When I tried explaining this issue I was told just use a pre-populated database like they did on other apps before I was here. I had to explain that the option isn't there for Windows yet. I did find a solution though:

I used `myDB = window.sqliteplugin.openDatabase({name:"myDB"});` to create and/or my database. Then I used somet

[2015-06-03 20:28] dcp3450 opened #278 "Getting "invalid database handle" at transaction method in Windows 8"
I'm working on a collaborative project through git hub and on of the developers just pulled down the my repo and attempted to run the files in the exact same manner I do.

My app builds out and creates my db file fine but he's getting a "invalid database handle" when it attempts to start the transaction layer.

[code]

The script never gets to execute the executeSql commands and fails at `nanoDB.t

[2015-06-04 08:00] brody2consult commented on #278
I suggest you make a small test project and have the other developer try to run it. If it does not work then post a link and I can take a look. You can also send it privately to info@litehelpers.net.

[2015-06-04 08:16] r4nc1d commented on #276
I had the same issue last night, as a work around I browsed to the database folder
var fileUri = new Uri("www\database.db", UriKind.RelativeOrAbsolute); And then i just copied it to IsolatedStorageFile. That seems to have worked.

[2015-06-04 08:25] brody2consult commented on #276
Thanks @r4nc1d. I think it would help others if you are willing to post the code you used to copy and open the database on Windows.

[2015-06-04 08:31] brody2consult commented on #276
@dcp3450 I am happy that you have a workaround. Unfortunately I cannot promise when I can add the pre-populated database for Windows due to my current workload.

FYI, I integrated the pre-populated database due to popular demand. I personally would favor the idea of populating the database from a dump file. I also have to add automatic testing of the pre-populated database functionality, when I ge

[2015-06-04 09:06] r4nc1d commented on #276
@brodybits, yea sure...I think what i will end up doing is probably Fork your project and see if i can add it in the WP8 section. Any pointers will be helpfull :-)

[code]

And then in the MainPage Constructor i just added the CopyDatabase();

[code]

To make a connection to the DB I use
`var data_base = window.sqlitePlugin.openDatabase({ name: "database.db", createFromLocation: 1 });`

Hope this

[2015-06-04 10:15] brody2consult commented on #276
@r4nc1d it would be great if you can issue a pull request. But your code needs some rework:
- If the app developer has to modify the MainPage, this feature will not work for developers who are using PhoneGap build. Instead you should add the `CopyDatabase()` call to `SQLitePlugin.open()`
- Also we do not want to copy the database if it is already present, since the application _could_ make its own

[2015-06-04 10:58] r4nc1d commented on #276
Awesome, thanks for the tips. I literally started with phonegap 2 days ago. So still finding my way around it. And yes I agree that the code needs some rework. I basically just wrote that piece of code to see if it will make my project work. I will make the require changes now.

[2015-06-04 11:10] brody2consult commented on #276
@r4nc1d that is really good pace! One more thing: it should be possible and more efficient to use `System.IO.File.Copy()` instead of iterating through the stream in C# code. You may want to look at: https://msdn.microsoft.com/en-us/library/vstudio/cc148994%28v=vs.100%29.aspx

I am planning to make a similar improvement to the Android version when I get a chance.

[2015-06-04 13:29] r4nc1d commented on #276
This might sound like a weird question, just for testing i used the Forked version that i got from your main branch. I am having difficulty opening the project in Visual Studio. Because obviously i want to change the WP8 section. But I cant open it because there is no sln file. and when i just open the files all the cordova classes are missing so `using WPCordovaClassLib.Cordova` fails. What is th

[2015-06-04 13:46] brody2consult commented on #276
What you have to do is create a Cordova project (using the Cordova CLI), add the `wp8` platform, and then add the plugin (also using the Cordova CLI). Your test `wp8` project would be in <your project directory>/platforms/wp8 (if I am not mistaken).

[2015-06-05 14:38] craig-at-rsg opened #279 "Android synchronization?"
First of all, thank you for this wonderful plugin!

I was hoping you could give me a tip which could help to vastly simplify my codebase...

My app has an Android service running in the background, and if there is any work done on a database in the background for Android, then I've been making all queries against that database from Java.

Is it possible for me to access the same database instances

[2015-06-05 14:48] ghost commented on #276
So in fact , we can not use [ pre- populated db ] with WP 8.1 ?
I 'm doing a project , everything is fine with Android and iOS, but it does not work with WP .
There is a solution ?

[2015-06-05 14:58] brody2consult commented on #279
That is a really good idea and I tried to do it for someone else. But it will be a bit non-trivial for two reasons:
- the Android version implements a threading model where each database connection is running in its own thread
- the plugin allows the user to dynamically switch between two Android sqlite libraries.

The Android version uses asynchronous commands and callbacks to implement its threa

[2015-06-05 16:32] r4nc1d commented on #276
@brodybits, thanks i managed to get the project running and made the changes. I am still testing though.

@bastien00, I am working on a solution now. Hopefully ill have something over the weekend.

[2015-06-05 19:51] dcp3450 commented on #278
It's just odd. I can build out fine on my machine where I created the project but my other developer can't do anything with the database. I even gave him my DB file to place at the correct location but it still doesn't work.

[2015-06-05 19:59] dcp3450 opened #280 "Using ngCordova, $scope loses focus when nested exectuable"
I'm running to select queries to create a multi dimensional array. I'm running one in an execute method and running a nested execute similar to the docs for this plugin. When I try to push to `$scope.installations.products` inside the second executable it doesn't recognize `installations` and says it's `undefined or null`

If I place the same `push` event outside the second execute it pushes fine:

[2015-06-05 20:24] dcp3450 commented on #280
I found the issue. When I get to the second execute it's passing the final y value since the for loop is running asynchronously. So now I need to figure out how to make a select call for each installation.

[2015-06-06 12:55] #280 closed, assigned to nobody

[2015-06-06 13:25] dcp3450 opened #281 "Unable to execute two select statements that depend on each other"
I need to end up with an array that looks something similar to this:

[code]

What I would normally do is run a `select` statement to populate my first level since my second depends on the `id` of the first. Since this is an asynchronous system that doesn't seem to workout. This is my attempt:

[code]

Obviously the issue is the first for loop completes before the second (you know asynchronously).

[2015-06-07 17:55] boltex opened #282 "Multiple Insert: Would this multiple insert syntax work?"
sqlQuery = 'INSERT INTO MAX_POINTS(Days,Max_Point) VALUES(1,32.0),(2,35.0);';

would this query insert two rows ? or would it fail?

Thank you for you time !

[2015-06-08 07:38] atulrungta commented on #246
Thank prevostc you solution worked

[2015-06-08 07:59] brody2consult commented on #246
Test is now added, closing.

[2015-06-08 07:59] #246 closed, assigned to nobody

[2015-06-09 12:36] atulrungta opened #283 "Not Working in Android 2.3 (TypeError undefined is not a function)"
.factory('sqlhelper', function ($cordovaToast, $cordovaSQLite, $q) {
    try {
        var db = null;
        return {
            registerdb: function () {
                var def = $q.defer();
                try {
            db = $cordovaSQLite.openDB('someapp.db');
                    $cordovaSQLite.execute(db, "CREATE TABLE IF NOT EXISTS tblappsetting (countrycode text, mobilenumber text, fi

[2015-06-09 14:11] nolanlawson commented on #283
It would be more helpful if you could offer a sample app so that we could test it out. :) Else a stacktrace that says exactly which function is undefined would be useful too.

9 times out of 10, this is due to some ES5 syntax not being available in Android 2.3 (e.g. Function.prototype.bind), so you could fix it by including the es5-shim: https://github.com/es-shims/es5-shim

[2015-06-09 14:20] brody2consult commented on #281
Unfortunately, I do not really follow the code very well. For this kind of question, I suggest you try the same code with a database opened using the normal HTML5/Web SQL API (i.e. `window.openDatabase()`).

[2015-06-09 14:34] brody2consult commented on #282
This _should_ absolutely work on all versions except for `wp8` (and `wp7` if someone will ever try it). For reference: http://stackoverflow.com/questions/1609637/is-it-possible-to-insert-multiple-rows-at-a-time-in-an-sqlite-database

If you use the Android version with the `androidDatabaseImplementation` option set to `2`, I do not expect it to work on versions older than Jelly Bean (16/17): http:

[2015-06-10 15:52] wKoza commented on #189
It works for me with ionic 1.0.0-rc.1 and Cordova-sqlite-storage 0.7.9 . GCorbel, are you sure that your map.db is a "binary dump" sqlite ?

[2015-06-10 19:31] boltex commented on #282
Thank you for your efforts! indeed, inserting multiple entries with the same INSERT statement is pretty common in many situations... :) thanks again for testing and documenting this feature!

[2015-06-11 10:00] asgeiru opened #284 "cordova-plugin-video-editor crashes when combined with SQLite"
I have up and running phonegap application that uses https://github.com/jbavari/cordova-plugin-video-editor to transcode video. When I add SQLite as plugin the transcoding plugin starts to crash the program because it is looking for libloader-jni.so file (part of transcode plugin in sub directory). It seems somehow after I added SQLite it does not any more look for *.so files in subdirectory.
By r

[2015-06-11 10:06] brody2consult commented on #284
Thanks @asgeiru for reporting this, and for raising jbavari/cordova-plugin-video-editor#17. I hope they fix it soon in https://github.com/jbavari/cordova-plugin-video-editor.

[2015-06-11 10:13] brody2consult commented on #284
One more thing: I just filed jbavari/cordova-plugin-video-editor#18 to add an explicit license statement. If they add an acceptable license statement then I can look into building for the other architectures.

[2015-06-11 14:39] boltex opened #285 "Do this sqlite databases storage persist when replacing/upgrading the APK ?"
same as title : Do this sqlite databases storage persist when replacing/upgrading the APK ?

[2015-06-11 16:35] nolanlawson commented on #285
Yes, they do. You can check under `/data/data/com.mycompany.appname/databases`.

[2015-06-11 16:56] brody2consult commented on #285
Can you explain what you mean by "replacing" the APK? If you uninstall an
app to _will_ lose the app data including the database.

[2015-06-11 18:25] boltex commented on #285
Thank you both, your answers confirm what nicraboy himself told me on the ionic forum :

[2015-06-11 18:25] #285 closed, assigned to nobody

[2015-06-12 08:16] jlegido commented on #253
Hi there.

This issue may be another occurrence of https://github.com/litehelpers/Cordova-sqlite-storage/issues/195 ?

[2015-06-12 08:17] pihomeserver opened #286 "Opening a database but never get opened"
Hello,
Starting to work with this plugin i would like to perform a simple table creation in a DB.
I open the DB with the following code in an Angular controller

[code]

In the console i have the following information :

[code]

I never get the DB opened message. If i call many times the openDatabase function, sometimes i get the message that the DB is opened but always after the call of the trans

[2015-06-12 08:39] jlegido commented on #201
Hi shubhankar.

Let me copy/paste some of my notes about how to get/push cordova source code, including the database, from/to physical Windows Phone Device.

Please adjust below variables:

-App UUID -> in my example "589362F0-C0E7-11E4-A9F9-E549203ADEC0"
-Windows operating system user. In my example "Benito"
-Path. I created a "test" folder in this example
1. Go to the tool

cd C:\Program Files (

[2015-06-12 09:05] jlegido opened #287 "Question: how to check for ongoing query/transaction?"
Hi there.

First of all many thanks for your great job.

I'm using the same code in Android, IOS and WP8. Below query is taking 221 seconds to execute in WP8:

[code]

I pasted just in case there's a good practice I'm not following. If I'm not mistaken, the plugin assigns one thread per DB, so until this query/transaction is not completed, I can't start a new query. I can confirm that based in my

[2015-06-12 13:37] brody2consult commented on #253
According to the OP:

[2015-06-12 13:38] brody2consult commented on #253
No reproducable scenario. If you find a reproducable scenario, or can even provide a database or database dump that can be used to demonstrate the problem, please report it and I will take another look.

[2015-06-12 13:38] #253 closed, assigned to nobody

[2015-06-12 13:53] brody2consult commented on #287
I appreciate the kind words. The `wp8` version uses a C# port of the sqlite library, which I suspect is much slower than the original sqlite C library.

My idea would be to add a function to the database object in CoffeeScript/Javascript that returns the number of transactions in the queue, or perhaps the state (opening/errored/idle/in progress/closed/etc.).

If you know how to rework the CoffeeSc

[2015-06-12 13:55] brody2consult commented on #201
Thanks @jlegido.

[2015-06-12 13:57] brody2consult commented on #286
Looks like you are using an old version of this project. Please update and try again.

[2015-06-14 10:47] brody2consult commented on #269
Yes that is correct.

One of the philosophies of this plugin is that it is by replacing `window.openDatabase()` with `window.sqlitePlugin.openDatabase()` that you store your data in the local document or database directory (depending on which platform) instead of the browser's local storage. This is the classic factory pattern.

You _could_ very easily add some code like `window.openDatabase = win

[2015-06-16 15:23] scottjpearson opened #288 "Numerous massive SELECTs across multiple functions; eventually db.transaction dies"
On iOS, I'm running code on a large dataset (in one file). Thousands of rows of data; millions of data to search through. Many small queries; a few large ones. These traverse > 20 functions. All callbacks are nested.

On smaller datasets, everything works.

At some point, the db.transaction command just dies. I have tried to trace, but I cannot figure out how. If I remove one db.transaction, the v

[2015-06-17 06:40] amitkumaroae opened #289 "iOS db.transaction and tx.executeSql goes to long wait after reading/selecting data from same table again and again."
I am using com.brodysoft.sqliteplugin plugin in my cordova project.

I have created about 5-6 tables.

i need to read 1 table very frequently.

In android everything is working fine but in ios after reading table multiple time db.transaction  and tx.executeSql stops working and no callback (success or error) fires for long time, and after some time it fires the success of last transaction.

 Any s

[2015-06-17 08:48] brody2consult commented on #288
Please explain what you mean by "multiple functions".

If you are having trouble with this plugin I recommend you try using the HTML5/Web SQL API first, i.e. just open your database using `window.openDatabase()`.

Also, please make sure you are using the latest version of the Cordova framework. You may want to take a quick look at the discussion in #190.

If you continue to have trouble with this

[2015-06-17 09:01] brody2consult commented on #289
I just updated the plugin ID again to match the NPM style. Please use the latest version.

Unfortunately that is not enough information to help find the cause of your problem. Please isolate a small, self-contained test program to reproduce the issue and either post it or send it to info@litehelpers.net.

[2015-06-17 14:44] scottjpearson commented on #288
On iOS, I'm running code on a large dataset (in one file). Thousands of rows of data; millions of data to search through. Many small queries; a few large ones. These traverse > 20 functions. All callbacks are nested.

Please explain what you mean by "multiple functions".

We’re uploading records of data fields. The largest project I have has records of ~6300 fields. I download a copy of the record

[2015-06-17 18:24] scottjpearson commented on #288
I think it’s getting locked out. Is there any way to check this? Also, is there any way to force a connection?

[2015-06-17 18:57] scottjpearson commented on #288
I am encountering this in two situations. One is with SQLitePlugin calls only. The other is after a call to another plugin that I wrote to circumvent the Android mass insert issue. It seems to work, but the database is locked afterwards. (I am calling dispose.) Not sure if there’s a good way to see if there’s a locking condition present – in either SQLiteConnection or in SQLitePlugin.

Also, I cou

[2015-06-18 08:44] brody2consult commented on #222
Some feedback from http://ost.io/@litehelpers/Cordova-sqlite-storage/topics/4 - sqlite4java issue on some Android tablets:

NOTE (UPDATE): adding the _bug_ label since I am not 100% happy with the results of using sqlite4java. I am planning to make a lightweight wrapper for the Android version using https://github.com/sqlg/SQLiteGlue-core, which will hopefully solve these integration issues.

[2015-06-18 09:27] brody2consult commented on #136
NOTE: Yes we should consider dropping support for pre-Honeycomb devices, assuming this is also OK for the Amazon reader version (which some people _do_ use) but that is a side point. This is an issue on _all_ versions of the Android sqlite database API.

The Android version uses the the [sqlite4java](https://code.google.com/p/sqlite4java/) library by default, which solves this problem. Only if the

[2015-06-18 09:42] brody2consult commented on #222
Thanks @MetaMemoryT, agreed but there are two major problems:
- The Android sqlite database API, which is provided @moneymanagerex/SQLite-Android-Bindings, is not a very good fit for the needs of this plugin:
  - Android db API provides OO model capabilities which is not needed by this plugin;
  - raw query needed to get the total changes (number of rows affected) see #136
- Lack of an explicit li

[2015-06-18 18:22] LightZam opened #290 "prepare statement problem"
Does it support the behavior like this
I can't find a way to do this with prepare statement

[code]

[2015-06-18 18:45] #290 closed, assigned to nobody

[2015-06-18 18:46] LightZam commented on #290
i'm really sorry, i found out my mistake, it could be use like the example

[2015-06-18 19:05] scottjpearson commented on #18
Is there any way that you could specify in more detail what you see to be the problem in the JavaScript? We have a large international project hanging on this. I'm not asking you to fix it. I'd like to see if I can fix it for you. I've got the go-ahead to devote some time to it.

[2015-06-18 22:36] brody2consult commented on #18
If you try to run the test program on Android, the Java code will crash
with an exception that memory cannot be allocated. I looked at this 1-2
years ago. The exception stack trace will show you that you run out of
memory while decoding JSON.

[2015-06-19 01:55] cuong1024 opened #291 "Error when build in Visual Studio 2015 and Cordova-sqlite-storage 7.10"
Hi,
After I update cordova-sqlite-storage to 7.10, my app take error "version not found: 0.7.10-dev : io.litehelpers.cordova.sqlite/0.7.10-dev"
I creare a new project but it still take this error.
Please help me.
Thank alot.

[2015-06-19 02:20] #291 closed, assigned to nobody

[2015-06-19 02:21] cuong1024 commented on #291
Oh,
I can run it. :dancers:
Sorry.

[2015-06-19 02:47] cuong1024 opened #292 "Setting path of DB"
Hi,
I want to set my app use DB in "storage/sdcrad0/myfolder/my.db" but when I use
var db = window.sqlitePlugin.openDatabase({name: "storage//sdcard0//myfolder//my.db", location: 1});
database cannot open and my app take error.
How can I set my app read database in my folder?
Thank a lot.

[2015-06-19 09:51] mladenp commented on #222
Hey Brody thanks for clearing this. Too bad i use Ionic and plan to implement Crosswalk.
Do you know where can i find info about bugs that can happen in sqlite4java?
Thanks

[2015-06-19 12:13] scottjpearson commented on #18
Thanks.

Scott J. Pearson
REDCap Core Programmer, Project REDCap
REDCap Mobile App
http://projectredcap.org
Vanderbilt Institute for Clinical and Translational Research (VICTR)
615-322-6039 (o)

From: Chris Brody <notifications@github.com<mailto:notifications@github.com>>
Reply-To: litehelpers/Cordova-sqlite-storage <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, June 18, 2

[2015-06-21 11:34] brody2consult commented on #292
Unfortunately this plugin does _NOT_ support opening a database from an arbitrary location. This feature is under future consideration. Also priority is given to paying customers.

[2015-06-21 22:32] jacobg opened #293 "iOS compile gets Value Conversion Issue warnings"
9 such warnings, of these 3 types:

Implicit conversion loses integer precision: 'long' to 'int'
Implicit conversion loses integer precision: 'NSUInteger' (aka 'unsigned long') to 'int'
Implicit conversion loses integer precision: 'NSInteger' (aka 'long') to 'int'

I think it's a 64-bit issue. Does the code need to be updated?

[2015-06-22 04:27] cuong1024 commented on #292
Thank for your answer.
:(

[2015-06-22 06:08] cuong1024 commented on #292
When I run my app in Genymotion, I can find my data I created. But when I run my app in real device (Samsung Galaxy tab 3 - (android 4.2 and android 4.4) ), I can't find my DB in it.
Where is my DB in real device?

[2015-06-22 06:32] brody2consult commented on #292
The sqlite database is _usually_ hidden when the app stores it in the
default location.

[2015-06-22 06:53] cuong1024 commented on #292
Thank a lot. :+1:
May I copy database into default location to use it.

[2015-06-22 07:45] brody2consult commented on #292
You can copy to the default location in Java code. I am not sure if the Cordova File API (plugin) will be able to access the default database location.

[2015-06-22 14:46] brody2consult commented on #282
Also good for bulk inserts as described here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cordova-sqliteplugin/0ccovAUnpBQ/yEWHwfoQF2wJ (limit of 500 rows)

[2015-06-23 18:23] reconka commented on #292
cordova fileplugin can copy over your files
Android default location: cordova.file.applicationStorageDirectory+"databases/your_database_name"
IOS  location (with location:1 parameter)  cordova.file.documentsDirectory+"your_database_name"

[2015-06-26 09:29] brody2consult commented on #293
Yes, pull request welcome!

[2015-06-27 16:09] dgl-jr opened #295 "Datetime Question"
I've got a datetime field defined as TEXT. When I insert a value of "2015-06-27T10:58:24.000Z", which is the value of my date control, I return "Sat Jun 27 2015 05:58:24 GMT-0500" with a select. Does SQLite recognize a date on insert and format it? I need to keep the inserted value in order to bind it to the control.

[2015-06-27 18:47] #295 closed, assigned to nobody

[2015-06-27 18:47] dgl-jr commented on #295
Non-issue. Error on my end. Sorry.

[2015-06-29 08:58] cuong1024 opened #296 "DB location in windows phone 8.1"
Hi, I saw https://github.com/litehelpers/Cordova-sqlite-storage/issues/201 but I don't know where is DB location in windows phone? (ex Android is: data/data/<app id>/ )
Thank a lot.

[2015-06-30 02:19] cuong1024 commented on #296
Oh. I found it. It created in Isolated Storage --> mydatabase.db
It's hidden. If you want to find it, use tool: "Windows phone Power Tool".

[2015-07-01 09:44] Anthony62039 commented on #276
@r4nc1d please give the solution about pre-populated db on wp8.1. when you found something

[2015-07-03 09:43] Heshyo commented on #190
@sebi-dev My app would also just stop displaying things, as if it couldn't retrieve things from Pouch. I updated from 3.7.0 to 3.8.0 and it looks like I don't have the issue anymore.

[2015-07-03 10:41] sebi-dev commented on #190
great !

[2015-07-04 14:00] mrbinr opened #297 "Can be used with platform browser ?"
Hi,
I would like to use sqlite-storage with platform browser but i have this error :
OPEN database: myDb.db SQLitePlugin.js:171
OPEN database: myDb.db failed, aborting any pending transactions SQLitePlugin.js:192
Could not open database

and here is my code :

document.addEventListener('deviceready',onDeviceReady, false);
function onDeviceReady() {
  var db = window.sqlitePlugin.openDatabase({name

[2015-07-05 16:54] mrbinr commented on #297
No idea about it ?
I'm still trying to test it without result

[2015-07-06 06:13] nedoma opened #298 "Why the size changes"
Hi! The size of the DB file changes on 1024 (and sometimes on 2048) bytes at the first appeal to the file (at the first transaction - "select \* from table..."). At the following transactions the size doesn't change.
Why it occurs?
PS: app was tested on android platform

[2015-07-06 14:52] pablomaurer opened #299 "Crashes while indexing with PouchDB - needs too much memory"
Hi

While syncing from the Database it uses more and more Memory but it still works to sync the whole Database. But then when viewing the data the first time it also hast to index the data and then it crashes after a while.

I already asked a bit related to this on [Stackoverflow](http://stackoverflow.com/questions/31053946/pouchdb-sqlite-indexing-crashes-needs-to-much-memory-on-ios). And i did se

[2015-07-06 17:08] mrbinr commented on #297
Hi,
I've tried with another sqlite plugin and i works as expected, it take my db file from myProject/www and copy it into browser/www/ and i can access to it easily with my app ...
So i gonna use it ...
If any one has ideas about how to use cordova-sqlite-storage with browser platform,let me know about it ...

[2015-07-06 17:10] brody2consult commented on #18
Reopening as a bug, hoping to find a solution. Will add an automatic test case for this.

UPDATE: This is caused by the JSON framework that is used in the Cordova project itself. I will make an isolated test scenario for Cordova (without this plugin) and raise a bug report when I get a chance.

[2015-07-06 17:11] brody2consult commented on #288
@scottjpearson did you find a solution or at least a workaround for this?

[2015-07-06 17:15] brody2consult commented on #297
Unfortunately this plugin does _not_ yet support the "browser" platform. Happy that you found another solution (so far). Just curious which project you are using?

[2015-07-06 17:18] brody2consult commented on #299
Thanks @mnewmedia. I will need 1-2 weeks to look at this since your sample project has to work with multiple dependencies (Ionic and PouchDB).

[2015-07-06 17:32] scottjpearson commented on #288
Yes. It turns out that the database was just executing an INNER JOIN very slowly on a huge dataset. Transposing into two queries made things much quicker.

The breakthrough was discovered by putting in a comment every time the database stepped through execution.

Thanks!

From: Chris Brody <notifications@github.com<mailto:notifications@github.com>>
Reply-To: litehelpers/Cordova-sqlite-storage <rep

[2015-07-06 17:41] brody2consult commented on #288
Thanks, this will be documented when I get a chance. Did you find a solution or workaround for #18 as well?

[2015-07-06 17:46] scottjpearson commented on #288
No. Honestly, that is crippling our Android app for big data sets. That’s not a huge deal for our medical research teams in the US, but it’s a much bigger deal for global health teams like Guatemala, Kenya, Cameroon, etc. Many of these countries are hoping to move their countries’ medical research data onto our tablet software exclusively. Because iOS is not present in their countries and because

[2015-07-06 18:23] brody2consult commented on #288
Stupid question: did you guys try just using the Web SQL API in the webview? Newer versions of Android have raised the limits, especially in the WebView that is displayed by Cordova: http://stackoverflow.com/questions/17266596/no-prompt-to-increase-web-sql-limit-in-android-native-browser

[2015-07-06 18:33] scottjpearson commented on #288
No, we haven’t looked into this. Would it help? And what are the limits? We have 2-million data points for a data set as our example big project. The data values are encrypted as well. Is there an MB limit?

I chose SQLite because I liked how storage was only limited by hard disk space.

From: Chris Brody <notifications@github.com<mailto:notifications@github.com>>
Reply-To: litehelpers/Cordova-sql

[2015-07-06 18:39] brody2consult commented on #288
It looks like on the newer Android WebView the database can go up to 50 MB. If you can try it with the Web SQL API (on Android only), as a temporary workaround, and see if it can help you until we find a better solution?

Also, if you need encryption did you see the sqlcipher version at https://github.com/litehelpers/Cordova-sqlcipher-adapter?

[2015-07-06 18:58] scottjpearson commented on #288
SQLCipher kept causing the filesystem to fail upon initial load, so I wrote my own encryption scheme.

The code is complicated enough and the differences, though slight, are great enough that a complete rewrite should only be done as a last resort.

Since both backends use SQLite, could we just use Web SQL for our massive inserts on Android?

From: Chris Brody <notifications@github.com<mailto:noti

[2015-07-06 19:04] brody2consult commented on #288
Yes, but make sure you test it well. I suggest you test it with a multiple of the size you actually need.

[2015-07-06 21:08] vioir opened #300 "Implement prepopulation in visual studio cordova"
I just installed the plugin in visualstudio in my cordova project , and i want to use prepopulation database in my project i put my database file (test.db) in www folder in project's solution
![1212](https://cloud.githubusercontent.com/assets/13207882/8532847/58cb16ba-2446-11e5-919d-504410ae2340.JPG)
when i try to use the following code:

[code]

i get the following error:
![error](https://cloud.g

[2015-07-07 06:00] mrbinr commented on #297
Hi,
i'm using https://github.com/samikrc/CordovaSQLite

[2015-07-07 08:14] reconka commented on #18
Of course  its super slow  the insertion, if you are inserting 2 values in  one   executeSQL,
My application also working with  huge dataset.. Here is my test:
tx.executeSql    1 insert     84k row     6.4sec
tx.executeSql    10 insert (bulk)    84k row  1.6 sec
tx.executeSql    100 insert (bulk)    84k row  1.3 sec

I also noticed  the select can be  really slow if I am using  Join in my query. M

[2015-07-07 09:06] reconka commented on #18
Here is my   simple example  https://gist.github.com/reconka/370b8aeb21215dbbd712 , please   paste into chrome/safari web developer console and  change the  limitation variable
1 row/executeSQL :  35ms
100 row/executeSQL: 18ms

[2015-07-07 09:52] brody2consult commented on #18
@rekona your problem has nothing to do with this issue. This issue is specifically about a crash that happens on the Android version _only_, which happens when the Java side of the Cordova framework attempts to decode the JSON message before calling the `execute()` method on this plugin. Your issue _may_ be related to #288 but I cannot say for sure. I recommend that you raise a new issue, and also

[2015-07-07 11:44] brody2consult commented on #300
Unfortunately I am not sure if I understand your question 100%. There had been some discussion to add pre-populated database for both `windows` (universal) and `wp8` platforms. In general, if you try to open a database filename that does not exist, the database will be created automatically (I am planning to make this optional, along with some other API enhancements). Also, sqlite _should_ be ACID

[2015-07-07 11:56] vioir commented on #300
ow , thank you , so i think i put my database in wrong folder , and the app does not find it , and create a new one instead .
can you please help me to find witch folder i should put my database into ?
how should i pass the correct address of my database to sqlitePlugin.openDatabase() function ?!

[2015-07-07 11:58] brody2consult commented on #300
Do you know which Cordova platform version you are using?

NOTE: both `windows` and `wp8` will support Windows Phone 8.1.

[2015-07-07 12:12] vioir commented on #300
i installed "Tools for Apache Cordova for Visual Studio 2013 - CTP3.1" ,
and i created a "Blank App (Apache Cordova)" project ,
then i added "https://github.com/litehelpers/Cordova-sqlite-storage.git" plugin to project .

[2015-07-07 12:29] brody2consult commented on #300
Happy that it worked for you! Someone else had problems with it in the past (#237).

[2015-07-07 12:32] vioir commented on #300
i do not want use it for windows phone application , i am trying to use this plugin for android application , i think it is ok with android apps , but i put the database in wrong folder

[2015-07-07 12:37] brody2consult commented on #300
Thanks, happy you got it working.

I would like to add this in case it will help some others: The "Tools for Apache Cordova for Visual Studio 2013" was OK for Android. I am still not sure if it will work for Windows Phone, as discussed in #237.

[2015-07-07 12:37] #300 closed, assigned to nobody

[2015-07-07 13:35] yokas opened #301 "new transaction is waiting for open operation"
I'm following this tutorial to build an ionic ios app, but it always say:
`new transaction is waiting for open operation`

https://blog.nraboy.com/2014/11/use-sqlite-instead-local-storage-ionic-framework/`

I'm using io.litehelpers.cordova.sqlite 0.7.10-dev "Cordova sqlite storage plugin"

I have been working on this issue for two days , please help me.

[2015-07-07 16:40] brody2consult commented on #147
Also need to test UNICODE \u2029 - paragraph separator

_UPDATE:_ When testing the following code against cordova-ext-echo:

[code]

only shows the following output:

[code]

Definitely a bug in cordova-ios.

[2015-07-07 16:42] brody2consult commented on #222
NOTE: I heard (at an Amazon AWS conference) that the Amazon Fire-OS _should_ be able to work with the NDK. Needs further research and testing.

[2015-07-07 20:08] brody2consult commented on #301
Unfortunately that is not enough information. It looks like something went wrong with your installation. Please try it again and check your steps very carefully.

If you are really stuck, you can send a full archive of your project to info@litehelpers.net and I can take a look.

[2015-07-07 20:09] brody2consult opened #302 "PersistenceJS wrapper"
From http://ost.io/@litehelpers/Cordova-sqlcipher-adapter/topics/1 and litehelpers/Cordova-sqlcipher-adapter#8

Workaround: define `window.openDatabase = window.sqlitePlugin.openDatabase` and _test it!_

I will look at this after some other API enhancements.

[2015-07-07 20:15] brody2consult commented on #222
I have now replaced sqlite4java with [Android-sqlite-connector](https://github.com/liteglue/Android-sqlite-connector) which is extremely lightweight. [Android-sqlite-connector](https://github.com/liteglue/Android-sqlite-connector) is written in pure-Java and uses either [Android-sqlite-native-driver](https://github.com/liteglue/Android-sqlite-native-driver) or [Android-sqlcipher-native-driver](htt

[2015-07-08 05:40] yokas commented on #301
Thanks for reply, I noticed that there is an update?
So after I updated to this:
`io.litehelpers.cordova.sqlite 0.7.10-pre "Cordova sqlite storage plugin"`

it worked!

[2015-07-08 05:40] #301 closed, assigned to nobody

[2015-07-08 06:18] brody2consult commented on #301
Happy to hear!

[2015-07-08 22:32] brody2consult commented on #18
I have added a test based on the reproduction test program by @sonalk to the `cordova-sqlite-common` branch, and have made a partial test fix here: https://github.com/brodybits/Cordova-sqlite-storage-dev/tree/cb-android-json-fix-1

It fixes the JSON problem in the Javascript --> Android Java direction by sending the data as a flat array instead of an array of Javascript/JSON objects. I was able to

[2015-07-09 08:54] lucidplus opened #303 "Invalid database handle in android 2.3"
I have used this plugin in my multi-platform cordova app. It is working perfect in android 4.x and windowsphone 8.1. But it is not working in android 2.3.6 samsung  y duos. It shows an error message "ERROR:Invalid database handle"
Please help..

[2015-07-09 09:10] brody2consult commented on #303
Please make sure you are running the latest version (0.7.10-pre). I recently changed the default Android sqlite implementation from sqlite4java to [Android-sqlite-connector](https://github.com/liteglue/Android-sqlite-connector). If it still does not work on your device, you may have to use the `androidDatabaseImplementation` option as described in README.md.

[2015-07-09 10:03] #250 closed, assigned to nobody

[2015-07-09 10:22] brody2consult commented on #255
This was only a problem when using the Android version with sqlite4java (by default). According to the comment in https://github.com/nolanlawson/sqlite-plugin-fork/issues/1#issuecomment-113025657, the workaround was to use `androidDatabaseImplementation` (as documented). The Android version now uses [Android-sqlite-connector](https://github.com/liteglue/Android-sqlite-connector) by default, which

[2015-07-09 10:22] #255 closed, assigned to nobody

[2015-07-09 11:05] lucidplus commented on #303
Thank you Brody.
I updated the version to 0.7.10 as you told.
Now it is working perfectly.
Thanks for your fast response.

[2015-07-09 11:05] #303 closed, assigned to nobody

[2015-07-09 14:07] brody2consult commented on #303
Thanks, happy to hear!

[2015-07-13 06:48] flyingsky commented on #206
Why close it? Actually it still hangs and crash any time from my side. Nobody has similar issue on xcode and safari when you debug?

My environment is mac 10.10.3, xcode 6.3.1, safari 8.0.6.

Because the sqlite plugin cannot debug on ios, I'm frustrated about the sqlite plugin. Even I don't think phonegap is a good solution for any mobile development.

[2015-07-13 08:18] brody2consult commented on #206
Is this a problem specifically this project? Looks like a phonegap or xcode
problem to me.

On Jul 13, 2015 8:48 AM, "ramon liu" notifications@github.com wrote:

[2015-07-13 11:32] brody2consult commented on #18
I just submitted https://issues.apache.org/jira/browse/CB-9353 to report this issue on the Apache Cordova project.

[2015-07-14 14:38] dcp3450 opened #304 "InAppBrowser crashes app when accessing SQLite functionality, in Windows 8.1"
I'm building an app for Windows 8.1. My app needs to open a local PDF file so I need to use the Apache InAppBrowser plugin.

Whenever I attempt to make a call to SQLite my code gets "wiped out" and I get a set of error messages:

[code]

I've traced through my code commenting and console logging. I found as soon as I attempt to open the database is when I get the issue. I am using ngCordova with A

[2015-07-14 18:09] joeljeske commented on #304
I cannot reproduce this. I have a sample application that includes
- this plugin v0.7.7
- `cordova-plugin-inappbrowser` v1.0.1
- windows platform v4.0.0

I run the application an open a database (tested with a new db and an existing db).

What versions of the above are you using? Can you reproduce in a sample project like mine?

[2015-07-14 20:40] brody2consult commented on #298
I suspect it is for efficiency that sqlite would start with a 1K/2K file.

[2015-07-14 20:45] brody2consult commented on #304
@dcp3450 try to isolate the smallest program you can make that can reproduce the issue. You can send it privately to info@litehelpers.net if you like.

[2015-07-14 21:52] dcp3450 commented on #304
@joeljeske
Here's all the plugins I'm using and their versions:
- cordova-plugin-file 2.0.0
- cordova -plugin-inappbrowser 1.0.1
- cordova-sql-storage 0.7.9
- latest ngCordova

@brodybits I'll see what I can put together when I get a chance.

I can confirm that as soon as any SQLite calls are made (opening the database being the most common obviously) I get the issue. If I remove or comment out th

[2015-07-14 22:05] brody2consult commented on #304
The sqlite plugin should do nothing special with the InAppBrowser. This looks very strange. I am also dealing with some backlog so it may be 1-2 weeks before I can take a look at the problem.

You _could_ also file an issue with the cordova-plugin-inappbrowser and see if they can find anything.

[2015-07-14 22:10] dcp3450 commented on #304
@brodybits

I tried to open an issue with them but they have issues disabled on their repo so I couldn't post anything. Apache doesn't make it easy to submit issues it seems. (I may be missing something though...)

I'll try to find time to put something small together but any help you can offer would be great. We're building out the app in iPad right now and make changes. When I can I'll try it th

[2015-07-15 17:56] dcp3450 commented on #304
@brodybits and @joeljeske

We installed InAppBrowser on our iPad version of the app and didn't have any issues. The app loads fine and InAppBrowser functions as expected. Obviously there's a windows issue...

[2015-07-18 20:00] nolanlawson opened #305 "window.sqlitePlugin doesn't exist on WP 8.1, but window.SQLite3 does"
It should be `window.sqlitePlugin`, no? Prompted by https://github.com/pouchdb/pouchdb/issues/4007

[2015-07-18 20:09] brody2consult commented on #305
Sounds like an installation problem to me

[2015-07-18 20:41] nolanlawson commented on #305
@darkyen ^

[2015-07-18 20:56] darkyen commented on #305
@brodybits Strange, no error logs were thrown that day, i followed all the steps on the site. Anything i can do to narrow down the error ?

[2015-07-18 22:02] brody2consult commented on #305
Try it on a fresh new project and if you get the problem send it to
info@litehelpers.net. I can take a look over the coming week.

[2015-07-19 18:41] brody2consult opened #306 "The library 'sqlite-native-driver.jar' contains native libraries that will not run on the device."
Asked privately and here on stackoverflow.com: http://stackoverflow.com/questions/31451879/phonegap-sqlite-plugin-error

[2015-07-19 19:50] flyingsky commented on #206
I don't think it's phonegap or xcode issue, because it works well without sqlite plugin. It seems sqlite plugin cause this issue.

[2015-07-19 20:01] brody2consult commented on #306
The workaround is to remove sqlite-native-driver.jar from your project, and copy the native libraries from the lib subdirectory of sqlite-native-driver.jar into the libs directory in your project.

[2015-07-20 14:01] Mirodil opened #307 "issue in example"
The below example not working:

[code]

as function expect parameters list not object. please update your docs

[2015-07-22 18:09] dcp3450 commented on #304
@brodybits and @joeljeske

Is it possible that it could a be a loading order or something? I loaded https://github.com/pwlin/cordova-plugin-file-opener2 and now my db won't create using `window.sqlitePlugin.openDatabase({name: "..."})`. If I remove the plugin it works fine. My fetch.json in my cordova plugins file looks like this:

[code]

[2015-07-22 18:59] dcp3450 commented on #304
I reinstalled `InAppBrowser` and changed my windows.json from this:

[code]

To this:

[code]

When I loaded my app it didn't crash. However, when I click an item that should fire the `InAppBrowser` I get this error:

`db name: undefined at full path: C:\Users\Ninja Multimedia\AppData\Local\Packages\25052NinjaDrew.NanoSales_p7fvp7h9wtqkp\LocalState\undefined`

Not really sure why that would happen

[2015-07-23 05:08] nedoma commented on #298
Thank you for response. Today the size of the DB file changed on 8192 bytes at the first appeal to the file (Size of the DB file near 28mb). This fact disturbs updating check (coincidence of the sizes) of the DB file on the device and on the server(((

[2015-07-23 06:57] rsutphin commented on #299
I am seeing a similar thing — when PouchDB is building some indexes and using this plugin, there are memory spikes which can result in the OS killing the app. The same data indexes okay using native WebSQL. Like @mnewmedia, I'm trying to use this plugin to get around iOS's WebSQL quotas, but I'm testing compatibility with a dataset that can fit in either.

I'm working on a simplified app which wil

[2015-07-23 17:20] rsutphin commented on #299
Here's my repro app:

https://github.com/humanpractice/sqlite-cordova-299

Its dependencies are Cordova, PouchDB and Xcode.

[2015-07-23 18:48] brody2consult commented on #299
Normally people use PouchDB with a server. Am I correct that I don't have to run a PouchDB or CouchDB server?

[2015-07-23 18:50] rsutphin commented on #299
That's right — this test app loads data directly into the PouchDB instance from a bunch of JS objects. (Our real app syncs from a CouchDB server, but that doesn't seem necessary to trigger this problem.)

[2015-07-23 20:55] vasam opened #308 "Cordova iOS app freezes while inserting 100+ records"
Hi All,

My Cordova iOS app freezes while inserting 100+ records. It may freeze on 146 transaction or on 206 transaction. Total transactions are 506.
while testing in Xcode console I see following output:

2015-07-23 23:22:05.551 Wp[1890:297164] void SendDelegateMessage(NSInvocation *): delegate (webView:decidePolicyForNavigationAction:request:frame:decisionListener:) failed to return after waitin

[2015-07-23 21:03] brody2consult commented on #308
Unfortunately this is not enough information. I need a complete, self-contained test program that can demonstrate your issue. You can also send it to info@litehelpers.net.

_UPDATE:_ Here is a test program that can be adapted to simulate a similar scenario: https://github.com/brodybits/Cordova-sqlite-memtest

It would still help to know what kind of data the OP is using for the VALUES.

[2015-07-24 06:15] brody2consult commented on #307
Sorry, the function can take both object and optional parameters for callbacks. If it does not work I suspect there is something wrong with your installation.

[2015-07-24 06:15] #307 closed, assigned to nobody

[2015-07-24 06:16] brody2consult commented on #305
Looks like an installation problem, closing.

[2015-07-24 06:16] #305 closed, assigned to nobody

[2015-07-24 06:20] brody2consult commented on #304
I can try these in the next 1-2 weeks. But for every scenario, a complete, self-contained test program would help me diagnose the problem and find a solution. You can also send them to info@litehelpers.net.

[2015-07-24 08:59] FilippoBenassutiCDM commented on #308
With X-code check memory usage of your app.

I had same problem at beginning. I found that the app with the amount of data I was using was using too much memory so managing with different slice of rows I solved my problems.

Lowering number of rows for your query you can avoid the problem.

[2015-07-24 13:53] brody2consult commented on #299
When I run https://github.com/humanpractice/sqlite-cordova-299 on iOS 6.1 it is able to load the records and make all 8 indexes without any problems. When I tried adjusting the project to use 30000 records as described in the readme and using `cordova prepare` to update the iOS project, it also finished loading the records and generating the indexes with no problems on iOS 6.1. I suspect this is a

[2015-07-24 13:55] brody2consult commented on #308
Thanks @FilippoBenassutiCDM. This issue looks similar to #299, not sure if it is exactly the same or not. I will try to reproduce this issue in the next 1-2 weeks but do not promise it.

[2015-07-24 14:18] rsutphin commented on #299
@brodybits, my test application doesn't crash on iOS 8 either. Apologies for not making that clear. The crash is hard to simulate in a simple application because the cause seems to be a transient memory spike. A simple application doesn't have a high enough memory floor for the spike to send it over the edge. You can see the memory spike in Xcode's memory utilization viewer, though.

In looking at

[2015-07-24 17:40] thierrybx opened #309 "Simultaneous access JAVA / CordovaJS errors"
Hello,

I am trying to make an app (Android to begin, and then IOS) that one side (JAVA) executes SQL statements on a database stored on the phone (imported once from the www folder and using SQLiteOpenHelper ..) in java from a background service starting at the boot. No worries on that side.

On the other hand (CordovaJS) I check / update the same database from the same application, but in the GU

[2015-07-24 18:16] brody2consult commented on #309
It _should_ be possible to get concurrent access working from both Java and
Cordova Javascript but it would need adjustments on both sides, and some
testing on our part. I will describe what needs to be done sometime next
week.

[2015-07-24 18:21] brody2consult commented on #309
I mean concurrent access to the same sqlite database from both Java and
Cordova Javascript should be possible (with the adjustments on both sides),
and the testing needs to be done on your part.

[2015-07-24 19:26] thierrybx commented on #309
Ok, thank you for your quick response!!

I eagerly await your advice!

In my app, the service side (java) write in some tables, and the cordova js in other tables.
Each side reads the data written by the other.

Just for information, in terms of adjustments I've done:
=> Java Side: I close a connection directly after a query on the db. For the moment I do not check if the database is locked before

[2015-07-27 06:24] subu1979 opened #310 "SQLITE Prepare statement error [INSERT]"
When i'am trying to insert into the database, iam getting following error

I/chromium( 1475): [INFO:CONSOLE(167)] "database already open: msfa.db", source: file:///android_asset/www/plugins/io.litehelpers.cordova.sqlite/www/SQLitePlugin.js (167)
I/chromium( 1475): [INFO:CONSOLE(79)] "DB opened: msfa.db", source: file:///android_asset/www/plugins/io.litehelpers.cordova.sqlite/www/SQLitePlugin.js (7

[2015-07-27 08:19] brodybits commented on #310
Please post your JavaScript code or send it to info@litehelpers.net

[2015-07-27 08:28] brody2consult commented on #310
SQLite error code `1` was returned from the C-interface function call, which means there was an error with the SQL statement (ref: https://www.sqlite.org/c3ref/c_abort.html). The sql statement looks OK by itself, so I suspect either the table was not created or the fields did not match. But I cannot say for sure without looking at your program.

I really need to see the code you used to open the d

[2015-07-27 21:24] meghalmodi12 opened #311 "Websql INSTR function"
Hello,

I am using this plugin in my application. At a point i want to used INSTR() function. And because of this I am getting an error: could not execute. not authorized to execute.  Can you help me with this?

Thank you,
Meghal Modi

[2015-07-28 02:46] brody2consult commented on #308
I am able to reproduce a crash using the following test ~~program~~ code:

[code]

[2015-07-28 02:50] brody2consult commented on #299
See https://github.com/litehelpers/Cordova-sqlite-storage/issues/308#issuecomment-125416508: I am able to reproduce a crash using this code:

[code]

[2015-07-28 02:54] brody2consult commented on #311
Please specify which platform and if you use any options in `window.sqlitePlugin.openDatabase()`.

FYI resources:
- https://www.sqlite.org/lang_corefunc.html
- http://www.w3resource.com/sqlite/core-functions-instr.php
- http://stackoverflow.com/questions/16180117/instr-function-sqlite-for-android

[2015-07-28 07:17] brody2consult commented on #306
Another idea is to use AAR bundle format: http://tools.android.com/tech-docs/new-build-system/aar-format

As described here: http://stackoverflow.com/questions/30757208/cordova-plugin-development-adding-aar

[2015-07-28 12:46] meghalmodi12 commented on #311
Thanks a lot. It worked...

[2015-07-28 20:12] ljammala opened #312 "SQLite DB version"
I have released a phonegap app using Sqlite plugin. I am planning to make another release with some changes to the Database tables structure. Do I have to delete the DB and recreate it with the new release?

[2015-07-28 20:19] brody2consult commented on #312
I suggest you add a table to store your database version (if you don't have it already), and then in the new release, the Javascript checks the database in the version table and does the restructuring if it shows an old version or if the version table does not exist.

Please report whether or not this makes sense to you.

[2015-07-28 20:22] ljammala commented on #312
Thanks for the quick response. That will be a great approach. But I did not do that for the initial release of the app which is already there in the market. So I guess I should just drop and recreate the DB in this release and use the technique you suggested for further releases.

[2015-07-28 20:28] brody2consult commented on #312
You can check the `sqlite_master` table to see if you have the version table, and you know you have to do the upgrade if the version table is not found: http://stackoverflow.com/questions/1601151/how-do-i-check-in-sqlite-whether-a-table-exists

This is very important since it can happen that someone upgrades from the first release to a newer release further down the road.

Please confirm if this m

[2015-07-29 06:17] rsutphin commented on #308
@brodybits, it's great that you were able to come up with a simpler repro than the ones on #299.

Playing around with it, my theory is that the problem is that all the statements & values executed by `executeSql` are retained in the plugin's memory until the transaction completes and then executed all at once. For a large number of complex inserts, this gets to be too much memory and iOS kills the

[2015-07-29 08:41] brody2consult commented on #147
In addition, this can be an issue when using [lz-string](http://pieroxy.net/blog/pages/lz-string/index.html) to compress data, as described here: https://groups.google.com/d/msgid/Cordova-SQLitePlugin/5a31f7d7-143f-45fe-979f-e2ec5a02f44d%40googlegroups.com

Original description:

The following workaround was given:

But it has two problems:
- It could be more efficient (see pouchdb/pouchdb#2900 to

[2015-07-29 11:36] brody2consult commented on #308
It _could_ change the behavior in certain cases. If some of the `executeSql()` calls in a transaction have a callback that queue more sql statements, there is a chance that your idea would change the order. I want to keep things as determinate as possible to avoid complex, hard-to-understand debugging issues that may come up with applications in the field.

I have found a solution, which I will de

[2015-07-29 11:37] brody2consult commented on #311
Happy to hear. I will add this to the test suite when I get a chance.

[2015-07-29 11:51] brody2consult commented on #310
A common cause is the case where a table has certain NOT NULL field(s) that are forgotten in the INSERT statement. This should be reflected in `error.message` that is returned in the error callback, needs to be tested.

[2015-07-29 12:02] #279 closed, assigned to nobody

[2015-07-29 12:27] vasam commented on #308
Hi Guys,

Just a heads up on this issue.
I solved it by removing then adding ios platform and reinstalling all plugins and

In our app we use following plugins:
$ cordova plugins ls
com.phonegap.plugins.PushPlugin 2.5.0 "PushPlugin"
com.phonegap.plugins.facebookconnect 0.11.0 "Facebook Connect"
cordova-plugin-camera 1.2.0 "Camera"
cordova-plugin-contacts 1.1.0 "Contacts"
cordova-plugin-device 1.0.

[2015-07-29 12:36] brody2consult commented on #308
@vasam that sounds very strange. It looks like an installation problem that I am very happy to see has gone away for you.

[2015-07-29 13:23] brody2consult commented on #309
It would help me if I can understand your problem a little better. You write about an app, which is using Cordova, and a background service, which is using Java. Is the app acting as the background service, or are they two different things?

Are you using Java and Javascript from the same process, two different processes, or both?

If I understand your description correctly, you problem has two pa

[2015-07-29 14:29] thierrybx commented on #309
Hello and thank you for your answer!

My application consists of a backgroung service launched at phone boot, as well as a user interface that is triggered when the user wants, or when it receives notification from the service and click on it on the notification bar.

For now the app works good. But periodically the app crash...

Service side:
The service is a plugin cordova I created. It recovers

[2015-07-29 17:46] brody2consult commented on #309
_UPDATED:_ For the Android app to get its own pid:

[code]

_as described in_ http://stackoverflow.com/questions/25963677/android-determinine-my-apps-process-id _and documented at:_ http://developer.android.com/reference/android/os/Process.html#myPid%28%29

For the Cordova process to get its own PID: this can be done through a new
plugin. I can raise a bug on the Apache Cordova project to implemen

[2015-07-29 17:46] xmnboy opened #313 "Avast flags Android APK files as "suspicious file detected" when plugin is included in APK"
We have an [Intel XDK developer](https://software.intel.com/en-us/forums/topic/563492#comment-1833395) that has reported a situation where Avast alerts his app that includes this plugin as being "suspicious." We confirmed this to be the case by doing the following:
- install Avast on a test device
- build and install a Crosswalk app based on the XDK blank template with no additional plugins; APK i

[2015-07-29 17:53] xmnboy commented on #313
Hang on, we have discovered some discrepancies that cause the issue to show up in our cloud build, but not in a local build. I'll keep you posted as we get more info. Put this issue into your "watching" queue for now. :)

[2015-07-29 18:18] brody2consult commented on #313
Thanks for reporting this. We do need to treat any security threats or
other issues very seriously, and should watch these kinds of reports
carefully.

Also, the Android version is not packaged the best way. I put the native
target libs in a jar which can cause problems with certain versions of
Android. Better to use something like AAR package instead.

##

Sent from my mobile

[2015-07-29 18:33] rsutphin commented on #308
It seems like it would be possible to preserve the current semantics but also issue queries closer to when they come in. But it would probably be complicated — if you've got a better option, that's good to hear.

[2015-07-29 20:55] thierrybx commented on #309
I've just extend a cordova plugin to get Cordova app PID, and on the other side i've extend the service to get the PID.
Both are logging in logcat using this code:

[code]

If service is launched by the app, the PID is the same for Cordova javascript and the JAVA service.
If I reboot the phone, the service starts and have a PID. And when i launch the app GUI, the PID is.... the same :-)

[code]

U

[2015-07-29 21:50] brody2consult commented on #309
I just read about Android content provider's and it sounds like a great idea if it can solve your problem. I just found an Android content provider plugin at: https://github.com/phearme/cordova-ContentProviderPlugin

Its plugin.xml specifies Apache 2.0 license, I just asked for an explicit license statement in phearme/cordova-ContentProviderPlugin#2.

_FYI additional resource:_ http://www.vogella.

[2015-07-29 21:55] thierrybx commented on #309
Thank's :-)

The only problem is for the IOS version with the "content-provider" mode. I'm wrong?

If it will be the best choise for me, i will find an other way for the ios version ;-)

[2015-07-29 22:06] brody2consult commented on #309
Unfortunately the content provider solution is Android-specific. So is the background service, if I am not mistaken. Do you want to describe, in very general terms, what you are using the background for and how you are thinking to achieve something similar for iOS?

FWIW, I also found https://github.com/Red-Folder/Cordova-Plugin-BackgroundService which is now split into two parts:
- https://github

[2015-07-29 22:41] brody2consult commented on #308
Thanks @rsutphin for your interest and ideas. I do already have a possible solution which I am planning to distribute under different license terms (GPL or commercial options). I expect to post it tomorrow.

I am also planning some API enhancements that would allow the user to issue the transactions in smaller batches, under his/her own control. Will describe sometime later.

[2015-07-30 03:04] rsutphin commented on #299
I looked more specifically after reading the repro in #308; PouchDB's indexing transactions contain at most 101 statements. So I don't think that the problem reproduced in #308 is the same as this one.

[2015-07-30 06:25] brody2consult commented on #18
Solution is now given in https://github.com/litehelpers/Cordova-sqlite-enterprise-free under GPL or purchased commercial license options.

[2015-07-30 06:25] #18 closed

[2015-07-30 06:49] brody2consult commented on #308
When I run the test code on Android, it will freeze or crash when I run it with test_rows = 20000 (20 thousand) or greater. The iOS version in this project works fine for test_rows up to 180000 (180 thousand).

[2015-07-30 12:46] adrienrx opened #314 "TypeScript Suppot"
DId you have a typescript definition file ?

[2015-07-30 12:54] brody2consult commented on #314
No but you should be able to adapt something like this one: https://github.com/borisyankov/DefinitelyTyped/blob/master/cordova/plugins/WebSQL.d.ts

In addition, I am planning some API changes and may take another look TypeScript support afterwards.

[2015-07-30 14:25] nolanlawson commented on #299
Since PouchDB secondary indexes technically create separate SQLite databases for each index, maybe the issue is that there are too many database open? Have you tested something like:

[code]

And yeah in general I would guess the issue lies somewhere in the SQLite Plugin, especially since this same crash cannot be reproduced in native WebSQL. Does anyone know if the crash is from the WebView or fr

[2015-07-30 14:54] rsutphin commented on #299
@nolanlawson, thanks for chiming in.

It doesn't seem to be a crash in the sense of segfault or that sort of internally-caused abnormal termination. It appears to be rapid memory allocation leading to iOS killing the process for using too much memory (and not responding to memory warnings).

It's possible that it's a result of the webview not being aggressive enough in GCing when there's a memory

[2015-07-30 17:24] brody2consult commented on #299
Thanks guys for your input and help with testing so far. I have done some preliminary testing where I open 100 database and try adding 1000-5000 records to each database. In general I see the memory increase until the records are added to all of the database and then decrease afterwards. I really will need to do some more testing before drawing any further conclusions.

I am considering the follow

[2015-07-30 19:05] ljammala commented on #312
Thanks a lot!!! That works great!

[2015-07-30 19:08] brody2consult commented on #312
:+1: Planning to document this in a "tips and tricks" section or blog article, someday.

[2015-07-31 00:01] brody2consult commented on #147
I just filed Apache Cordova [CB-9435](https://issues.apache.org/jira/browse/CB-9435) to report the problem with U+2028 and U+2029 on cordova-ios.

[2015-07-31 04:04] thierrybx commented on #309
Sorry for the response time!
Thank's again for your response! But I have no problems with the background service, and i will do it without a specific plugin.

For background services I use a class that I created that extends the class service.
This class uses a LocationManager that runs at regular intervals and makes web requests according to certain criteria.

From what I read, it is also possibl

[2015-07-31 13:40] thierrybx commented on #309
I have thie error when my app is freezing:

[code]

It occurs typically when i call the getWritableDatabase() on my SQLiteOpenHelper db.

Perhaps an answer [here](http://stackoverflow.com/questions/2493331/what-are-the-best-practices-for-sqlite-on-android/19996964#19996964)

What do you think of this? But with this method i have to access to the database only using DatabaseManager from javascrip (

[2015-07-31 15:15] brody2consult commented on #309
That sounds right, though I really have to investigate it to be sure. I may
need a few days before I can confirm.

##

Sent from my mobile

[2015-07-31 20:27] thierrybx commented on #309
Thank's!

I think I will test this solution also after testing an intermediate solution: have a database on the  background service side, and flat files generated for the javascriptside (by the service or the javascript side).

Have a good weekend!

[2015-07-31 23:30] thierrybx commented on #309
Finaly i set up a bypass to this problem. I just added a try catch around the getWritableDatabase (). The whole being in a loop with a maximum number of executions set to 10, and a sleep set at 0.5 seconds. If getWritableDatabase () works, it exits the loop, and if no, it retries up to 10 times.

I know it is not nice at all, but I put this "patch" to continue to develop the app without incessant

[2015-08-02 12:22] brody2consult commented on #309
Do you put getWritableDatabase() in the loop only the first time you open the database, or do you have to use getWritableDatabase() for every transaction?

If you only have to use getWritableDatabase() in the beginning, it _should_ not give you any performance issues and we can fix this at our leisure.

If you have to do this for every transaction, it will probably hurt your performance and we sho

[2015-08-02 13:30] thierrybx commented on #309
In fact, I use getWritableDatabase () for each transaction on the java side  to close as soon as possible the base so that other transaction (from your cordova plugin for example) can take place without collision and be sure that the base is writable and not locked for a long time.

Maybe in my case, if I want to use only one database, I would have to use it with the same classes on both sides (Co

[2015-08-03 07:47] valix85 opened #315 "update"
Hi, can i update my db witch app update? if i change db and rebuild it , than i install it on device, db dosen't change. i need able to update my db file and update data in app without remove and reinstall my app...i must deploy an app with  some update.
in device ready i call it:

db = window.sqlitePlugin.openDatabase({
                name: dbname,
                location: 1,
                cr

[2015-08-03 09:56] cherrypickercherrypicker commented on #193
Does this issue occurs only when you use `db.transaction` or on `db.executeSql` too?

[2015-08-03 10:32] brody2consult commented on #193
Unfortunately I have not reproduced this issue myself so far. The workaround is only implemented in the case of using `db.transaction()`.

[2015-08-03 10:36] brody2consult commented on #315
You can use a different database name and delete the old database file (ignore the error if the old database file name does not exist) in the new app update.

[2015-08-03 15:51] siddo420 opened #316 "database location on Androind devices?"
I cant seem to find the database file anywhere on my android device. However localForage is able to retrieve contents from the sqlite database.

[2015-08-04 10:27] brody2consult commented on #316
http://stackoverflow.com/questions/15326455/what-is-the-default-database-location-of-an-android-app-for-an-unrooted-device

This was asked before. Will be documented when I get a chance.

[2015-08-04 11:19] brody2consult commented on #309
Hi @thierrybx I may need a few weeks to implement a better solution for you. In addition, I am thinking to implement this in an enterprise version that will be available under GPL or purchased commercial licensing terms which I would offer to you for a discount (or _maybe_ for free if you help me test it). Thanks for your patience so far.

[2015-08-04 11:53] thierrybx commented on #309
Excellent!
If you want I can help you to test and validate this new version with test cases on android and IOS platforms!
See you very soon!
Thierry

[2015-08-04 18:07] brody2consult opened #317 "Possible insert ID bug in iOS version"
I just discovered PR davibe/Phonegap-SQLitePlugin#28 by @parisholley which is almost 3 years old but still seems to be relevant, with the following description:

and the following changes (based on the current version in this project):

[code]

[2015-08-05 10:58] metromg commented on #272
It seems, that the plugin works fine with Windows 10 Apps running on PC or Tablet.
But with Windows 10 Mobile (Windows Phone 10) it fails to open the specified database. (Tested with Emulator coming with Visual Studio 2015).

When can we expect a fix for this issue?

[2015-08-05 11:07] brody2consult commented on #272
I cannot make any promises due to my existing backlog. I recommend that you consider building your app for Windows 8.1 and Windows Phone 8.1, which _should_ also work on Windows 10 and Windows 10 Mobile as well.

[2015-08-05 12:05] metromg commented on #272
Yeah, good idea! I've created two packages now, one for Windows 8.1 and one for Windows Phone 8.1, which work on Windows 10 Desktop and Mobile. As soon as this plugin fully supports Windows 10 I'll create an universial package for Windows 10 Devices.

[2015-08-06 09:32] brody2consult opened #318 "Better API description in README.md"
I found a nice sample of the basics at: https://gist.github.com/andyj/1599544

_UPDATE_ other items:
- [ ] link to this from README.md
- [ ] document this to be _partially_ compliant to the Web SQL API for asynchronous operations _only_
- [ ] recommend cordova-plugin-console for logging (!!)
- [ ] clearly document how to log res object (JSON.stringify(res) is not recommended)
- [x] tips-and-tricks

[2015-08-07 06:23] nishadchenicheri opened #319 "SQLite Plugin Memory Issue"
We have created an iOS hybrid app[Cordova IOS 3.8.0, SQLite(Cordova-SQLite-Storage) 0.8.0 Dev] and noticed that there is huge memory consumption while we perform any CRUD operations.
We tried to debug the app by enabling each feature at a time and found that the memory consumption is high when there is a SQLite plugin call. The memory consumed is never released even after we are idle for few minut

[2015-08-09 10:40] thierrybx commented on #309
Hi! After hours of coding, I managed to ensure that everything works from both sides without conflict! By cons I no longer passes through your plugin but by a specific plugin to my needs that plugs directly into Java classes that I created to check and update the database.

No bugs since a long time!
If you see errors or things that shock you do not hesitate to tell me!
You can reuse the code as y

[2015-08-10 07:52] brody2consult commented on #309
Thanks for sharing! You have now found a simpler solution to fulfill the needs of your problem and I think you have learned a lot from working on it.

Sometimes it makes sense to build the custom components exactly as you need them for your application, and sometimes it is the things that you don't share that give you the competitive edge, at least for a period.

This project aims to be very gener

[2015-08-10 07:52] #309 closed, assigned to nobody

[2015-08-10 11:16] brody2consult commented on #319
I am running some tests with your project, and am trying with loop of 1000 and batch of 1000. In general I notice the memory usage goes up and down. Be careful that you have to look at the _Persistent_ values and _NOT_ the _Total_ values.

[2015-08-10 14:59] thierrybx commented on #309
Thanks for all! Discuss with you allowed me to mature my reflection.
See you!

PS: I will upgrade my plugin to do the same on the iphone platform, with dual access!
In your opinion, since I started programming on iphone, it is better for me tu use objective-c or swift?

[2015-08-10 17:26] brody2consult commented on #319
This issue looks similar to #299 and #308. Please see the version in https://github.com/litehelpers/Cordova-sqlite-enterprise-free (with a different licensing scheme) for some internal memory improvements. If you continue to see memory issues please file a bug report there.

[2015-08-10 17:26] #319 closed, assigned to nobody

[2015-08-10 17:39] brody2consult commented on #308
Please see the version in https://github.com/litehelpers/Cordova-sqlite-enterprise-free (with a different licensing scheme) for some internal memory improvements. If you continue to see memory issues please file a bug report there.

[2015-08-10 17:39] #308 closed, assigned to nobody

[2015-08-10 17:39] brody2consult commented on #299
Please see the version in https://github.com/litehelpers/Cordova-sqlite-enterprise-free (with a different licensing scheme) for some internal memory improvements. If you continue to see memory issues please file a bug report there.

[2015-08-10 17:39] #299 closed, assigned to nobody

[2015-08-18 05:01] dlee commented on #244
@brodybits can you verify that FTS3/FTS4 should be working in iOS now?

The Limitations section of the README seems to indicate otherwise: https://github.com/litehelpers/Cordova-sqlite-storage/blob/master-rc/README.md#other-limitations

[2015-08-18 07:18] brody2consult commented on #244
On Tuesday, August 18, 2015, David Lee notifications@github.com wrote:

Yes this is actually verified in the spec test suite.

##

Sent from my mobile

[2015-08-18 16:01] daryllchu opened #320 "Uncaught TypeError: Cannot read property 'exec' of undefined sqliteplugin:204"
Hi,

In the console I managed to open the database ondeviceready with the following:

if (window.PhoneGap) {
db = window.sqlitePlugin.openDatabase({name: "my.db", location:1});
} else {
//something else
}
However, I get an error on the phonegap emulator with "Uncaught TypeError: Cannot read property 'exec' of undefined on sqliteplugin.js:204"

any idea?

[2015-08-18 21:12] admin-ideia2001 opened #321 ""OPEN database: test.db failed, aborting any pending transactions" when auto copying pre-populated db"
I'm having a simple error... "OPEN database: test.db failed, aborting any pending transactions" on android. I've done my application running with the addition of dbcopy sqlite for cordova plugin and it worked well. But now, i need to open the pre populated db from a folder location. I saw that the android's folder for databases is /data/data/package-name/databases/test.db, but while trying to open

[2015-08-19 07:11] brody2consult commented on #320
That means the `cordova` object is not defined.

[2015-08-19 07:12] brody2consult commented on #321
Unfortunately I cannot completely follow what you are doing. Best if you can make a sample project that can demonstrate this issue.

[2015-08-20 10:10] BilelKrichen opened #322 "Uncaught #<Object> at file:///android_asset/www/plugins/io.litehelpers.cordova.sqlite/www/SQLitePlugin.js:297"
I need Help about SqlitePlugin cordova. The error shown when I charge data from json to sqlite database

<i>JsontoSqlite.js :</i>

<b>var db;
var path = 'localhost/jsontosqlite/';
document.addEventListener("deviceready", onDeviceReady, false);
function onDeviceReady()
{
       db = window.sqlitePlugin.openDatabase({name: "mydb.db"});
       db.transaction(populateDB, errorCB, successCB);
}
functio

[2015-08-20 10:20] brody2consult commented on #322
This is because the transaction is already completed before your $.getJSON callback function is called.

It would be better to start the transaction within your $.getJSON callback function.

You would encounter a similar problem using HTML5/Web SQL. I will document this when I get a chance.

[2015-08-20 16:38] BilelKrichen commented on #322
I resolve the problem when i use $.ajax

[2015-08-21 08:59] BilelKrichen opened #323 "Error processing SQL: fabric is not defined"
I need Help for this error:
<i>Error processing SQL: fabric is not defined</i>
<code>var db;</code>
<code>var path = 'localhost/jsontosqlite/';</code>
<code>document.addEventListener("deviceready", onDeviceReady, false);</code>
<code>function onDeviceReady()</code>
<code>{</code>
<code>db = window.sqlitePlugin.openDatabase({name: "mydb.db"});</code>
<code>db.transaction(populateDB, errorCB, succes

[2015-08-21 15:23] #321 closed, assigned to nobody

[2015-08-21 16:31] cepm-nate opened #324 "iOS: Can I replace an already-opened database?"
On Android I run openDatase, (do some stuff), DeleteDatabase, download the new DB, copy the new file to the right folder, and now actions are taking place on the new DB. The filesize stays the same, but the actions work as expected (insert, update, delete).

On iOS I tried the exact same thing (took me a while to figure out to use (location:2) and (cordova.file.dataDirectory) as the path). openDat

[2015-08-22 18:27] shanmmukha1589 opened #325 "while installing"
Repository "https://github.com/litehelpers/Cordova-sqlite-storage.git" checked out to git ref "master".
shell.js: internal error
Error: EXDEV, cross-device link not permitted '/tmp/git/1440267840805/AUTHORS.md'
at Error (native)
    at Object.fs.renameSync (fs.js:636:18)
    at /home/om/.nvm/versions/v0.12.7/lib/node_modules/cordova/node_modules/cordova-lib/node_modules/shelljs/src/mv.js:77:8

[2015-08-23 00:31] SP1966 commented on #310
I was experiencing the same error and after pulling out my last remaining hair follicles I found the issue was the SQL to create the table was wrong, I was trying to use "CREATE TABLE IF NOT EXIST..." rather than "EXISTS".

Leaving this here in case somebody else has the same issue.

[2015-08-23 10:28] NsAveek opened #326 "Can not install the plugin"
cordova plugin add cordova-sqlite-storage

Fetching plugin "cordova-sqlite-storage" via plugin registry
npm http GET http://registry.cordova.io/cordova-sqlite-storage
npm http 404 http://registry.cordova.io/cordova-sqlite-storage
Error: 404 Not Found: cordova-sqlite-storage
    at RegClient.<anonymous> (C:\Users\User\AppData\Roaming\npm\node_modules\cor
dova\node_modules\cordova-lib\node_modules\n

[2015-08-24 01:35] AlexZhouAA opened #327 "How can I use sqlite3_update_hook in this plugin?"
Can I use sqlite3_update_hook to monitor changes of the database with the plugin?

Thanks

[2015-08-24 05:50] #326 closed, assigned to nobody

[2015-08-24 09:10] BilelKrichen commented on #325
Just Run <code> npm install -g cordova@5.0.0 </code> then install your plugin
<code> cordova plugin add cordova-sqlite-storage </code>

[2015-08-24 09:41] doruchiulan opened #328 "iOS project does not build after installing plugin : "duplicate symbols for architecture i386""
Hi,

I am trying to use your plugin for a setup that will use pouchdb, but after I install it using cordova, the iOS builder throws a lot of erros with "duplicate symbols for architecture i386" header,  for example

[code]

[2015-08-24 09:55] brody2consult commented on #328
That is because you are using jxcore-cordova, which installs its own version of sqlite3 in bin/libsqlite3.a, while this plugin builds sqlite3 from source. Since jxcore-cordova already provides sqlite functionality, you may not need this plugin.

[2015-08-24 10:01] brody2consult commented on #324
I recommend that you actually close the database and wait for the callback before overwriting the database file. Then you _should_ be able to open the new database file.

I am planning to add a test for this scenario.

Please make sure you wait for the deleteDatabase callback before you try to open the database again. There are some tests that cover this scenario.

[2015-08-24 10:03] brody2consult commented on #327
This idea is in consideration for the future.

[2015-08-24 13:17] AlexZhouAA commented on #327
Thanks for your response. Look forward the new feature
On Aug 24, 2015 6:03 AM, "Chris Brody" notifications@github.com wrote:

[2015-08-24 17:17] cepm-nate commented on #324
Thanks for the tips!

Currently each call is made in the success callback of the previous call.

First it downloads the new file to a temp location. When done, it deletes the OLD DB file (using deleteDatabase). When done, it copies the NEW DB from the temp location to the data location (same spot and same filename as OLD DB). When done with that, is where I test the openDatabase call to see if the

[2015-08-25 12:40] calebeaires commented on #156
It is working now.

[2015-08-25 12:40] #156 closed

[2015-08-25 12:45] calebeaires opened #329 "Discussion about data size"
My app has an 5mb sqlite data. The app use a Virtual Table on FTS system to make use of Full Text Search.

This strategy make use of many space on Android disk and it double the amount of data on the Android device. Is there any solution to workaround this issue?

Options: After create FTS Virtual Table, delete the original one?

[2015-08-25 12:58] brody2consult commented on #329
Once you are sure that your FTS-enabled table is created and populated OK, then yes you can delete the original table. But I recommend that first, you add another table with a single field and row to keep track of your internal database version. Keep in mind that you don't know how long it will take some people to upgrade so you should keep support for your original database version for quite a wh

[2015-08-25 20:27] cepm-nate commented on #324
Aha! I found a small discrepancy which had me confused for a while.

cordova.file.dataDirectory points to "~/Library/NoCloud", but when you pass 'location:2' to the sqlite plugin, it stores it's files in "~/Library/LocalDatabase"

Interestingly, there is no cordova.file property which points to the LocalDatabase folder, so I reference it using cordova.file.dataDirectory + '../LocalDatabase'.

Why

[2015-08-28 01:49] shizhidi commented on #296
hi, you know  where is DB location in android? (ex Android is: data/data// )
Thank a lot.

[2015-08-28 04:00] linxd5 opened #330 "Since Web SQL isn't maintained by W3C anymore, Should I continue to use this plugin ?"
I am looking for a front-end database plugin and find this one.  By reading the Doc, I know "the API similar to HTML5/Web SQL API".  As we all known, W3C doesn't intent to maintain Web SQL further and continues work on two other storage-related specifications: Web Storage and Indexed Database.   I want to know whether this plugin supports for IndexedDB ?  Waiting for your answer, Thank you ~

[2015-08-28 08:13] brody2consult commented on #296
See #316:

[2015-08-28 08:59] brody2consult commented on #330
This plugin currently does _not_ support IndexedDB, or at least not out of the box. There are two ways forward:
- someone makes an IndexedDB-specific plugin (I do not think I will have time to do this)
- adaptation of https://github.com/axemclion/IndexedDBShim which _should_ be possible by simply replacing window.openDatabase() with window.sqlitePlugin.openDatabase()

Despite the W3C decision to d

[2015-08-28 09:26] linxd5 commented on #330
Thank you ~

[2015-08-30 14:02] brody2consult commented on #330
This comment deleted due to copy-paste error

[2015-08-30 14:06] brody2consult commented on #330
Sorry @linxd5 I accidentally hit the button to save the comment with some Markdown text I was previewing for another project. In case you are really curious the project is a work in progress at: https://github.com/brodybits/mbflow

Please ignore it. If you have any other questions please don't hesitate to ask!

Also re-opening this until I get the IndexedDB shim working with this plugin.

[2015-08-30 15:43] hanthomas commented on #247
I think there are 2 separate issues being discussed on this thread.

PROBLEM 1 (as reported by @trevorpowell)
This problem occurs _before sqlitePlugin.openDatabase() is called_ - in fact, it's when Crosswalk attempts to load, and it fails to start.  I can reproduce this problem consistently with the following combination _when running the x86 APK_:
- cordova-plugin-crosswalk-webview 1.2.0
- io.lit

[2015-08-31 04:22] greatredpie opened #331 "no such table"
Hello I'm trying to use this plugin to load a prepopulated database into my phonegap app.
I have my database stored in my base www directory.
I am using build.phonegap to compile this app.
Its ether not picking up my database and is creating a new one or its not finding the table in my database. Images for reference.

DB Location
![location](https://cloud.githubusercontent.com/assets/5037470/95720

[2015-08-31 16:56] sonukapoor opened #332 "No Such Table"
Hi,

I am using this plugin in my ionic project. I am able to open the db. I can see the log:

DB opened: test.db

I created a brand new db using SQL Lite Manager and a table called Products. I then copied the db over to my www folder. I noticed that the extension was called .sqllite, I renamed it to .db. Hopefully that did not create any issues.

Now whenever I try to query that table I get a "No

[2015-09-01 06:29] Gamerakki opened #333 "Inserting comes to halt in ios"
I am using ajax call to get data from the server. The data may vary from person to person. But the i am using a demo user with all table data full in web. When i get data through ajax i start the insert statement.

For few records the inserting goes fast and smooth but after a particular time the insertion comes a half. When i  press the home key and again open the app the count get increase by on

[2015-09-02 04:19] hgehlhausen commented on #169
Bump

[2015-09-02 06:41] CasanovaGregory opened #334 "Using "Order by random()""
Hi,

I'm trying to use the random function of Sqlite and I'm facing some problem. Is the random function supported in the plugin ? I'm using it like this :

SELECT \* FROM products ORDER BY RANDOM()

In an editor like "DB Browser for SQLite" it works, but not using the plugin...

I get the following error :
"code: 5, message: "could not prepare statement (1 not authorized to use function: random)"

[2015-09-03 07:32] brody2consult commented on #331
Please post your project if you need help.

[2015-09-03 07:33] brody2consult commented on #332
Unfortunately this is not enough information. Please post your project if you need help with this.

[2015-09-03 07:34] brody2consult commented on #333
Not enough information. I need a test project to reproduce this problem.

[2015-09-03 07:36] brody2consult commented on #334
Are you using Web SQL? I found the following: http://stackoverflow.com/questions/30036628/could-not-prepare-statement-1-not-authorized-to-use-function-random

[2015-09-06 04:06] jares777 opened #335 "calling openDatabase second time when reloading index.html never completes"
When the application starts, the openDatabase works fine and all the transaction go through. But if the application is restarted by hitting the refresh button in safari ( sometimes necessary during debugging as initial console logs doesn't show up) causes openDatabase being called again and it causes the openDatabase to not succeed. Further transaction reports 'new transaction waiting for open' er

[2015-09-06 05:39] qorbani commented on #292
Thank you @reconka :+1:

[2015-09-07 07:39] brody2consult commented on #335
Unfortunately that is not enough information. I need you to specify which platform(s) where you see this behavior and a test program that can reproduce this issue. Thanks.

[2015-09-07 10:22] #323 closed, assigned to nobody

[2015-09-07 10:22] #322 closed, assigned to nobody

[2015-09-07 11:18] enricodeleo opened #336 "Crash with Crosswalk on x86 64bit"
As other users pointed out already this plugin causes a crash on 64 bit architectures if run under Crosswalk (tested on various versions, canary included).

This plugin also caused the apk to be generated as multi architecture instead of per architecture.

With the very same environment, switching just back to `com.brodysoft.sqlitePlugin 1.0.4` resolved these issues.
The problem is definitely some

[2015-09-07 11:42] brody2consult commented on #336
The workaround is to include `androidDatabaseImplementation: 2` in your window.sqlitePlugin.openDatabase options. This will be documented in README.md.

[2015-09-07 11:43] brody2consult commented on #336
And thanks for the feedback!

[2015-09-07 11:52] enricodeleo commented on #336
@brodybits thank you, I already tried `androidDatabaseImplementation: 2` but it crashes anyway on my Samsung Galaxy s6 Edge with Android 5.1.1

[2015-09-07 11:55] brody2consult commented on #336
Can you paste the crash log?

Also, IIRC there are two ways to use Crosswalk: either use Crosswalk to create your Cordova project or add Crosswalk as a plugin. It helped some people earlier this year to add Crosswalk as a plugin.

[2015-09-07 15:57] hanthomas commented on #336
I found that 0.7.10 always crashes when used with Crosswalk (I'm using Crosswalk as a plugin).  With 0.7.7, it works fine, but only if you use `androidDatabaseImplementation: 2`.

[2015-09-07 16:00] brody2consult commented on #336
Try removing sqlite-native-driver.jar from your libs directory, it has caused problems for others. Then you have to use `androidDatabaseImplementation: 2`.

[2015-09-07 16:55] hanthomas commented on #336
Thanks @brodybits.  That did the trick.  BTW, @enricodeleo, I tried this on Samsung Galaxy S6 Edge (via Testdroid), and it worked fine for me.

[2015-09-07 17:38] enricodeleo commented on #336
@hanthomas I tried on a physical device. With the former configuration (latest version of crosswalk as plugin and cordova-sqlite-storage to 0.7.10) I got an error in /lib. Extracting the apk with unzip I find a unique file per architecture that is `libsqlc-native-driver.so`. Don't know if this information gives any help...

[2015-09-07 17:51] brody2consult commented on #336
sqlite-native-driver.jar comes with the unique file per architecture in /lib, since it worked for me when I tested on my own device. It has caused problems and I will get rid of that JAR very soon. Please remove it from your libs if you are using Crosswalk.

[2015-09-07 20:17] hanthomas commented on #336
@enricodeleo Here's what I did:

1) Removed reference to sqlite-native-driver.jar from _plugins/io.litehelpers.cordova.sqlite/plugin.xml_
2) Deleted _plugins/io.litehelpers.cordova.sqlite/src/android/libs/sqlite-native-driver.jar_ file
3) Deleted _platforms/android/libs/sqlite-native-driver.jar_ file.

This removed any reference or copy of the JAR that's been causing problems.  Then, I built the a

[2015-09-08 19:59] CasanovaGregory commented on #334
I was using it on Google Chrome so I assume that I was using web SQL.
Will it work on a device ?

[2015-09-09 15:04] cepm-nate commented on #324
I'm closing this issue because my workaround is to copy in the new file, then delete the old one, storing the new db name so any subsequent launches of the app use the new DB.

[2015-09-09 15:04] #324 closed, assigned to nobody

[2015-09-09 22:30] nickblack647 commented on #326
Did you fix this issue? I'm seeing this as well

[2015-09-10 12:55] ajenkul opened #337 "How to open multiple database and query different db at a time?"
I have a lot of separated sqlite file need to open. I try to handle all database into one object. But when I try to query with specific database, it query with the lasted opened db.
Here my code:

[code]

But when I try to query. It only query on database `db.BOK` instead of `db.BIB`

[code]

[2015-09-10 13:12] brody2consult commented on #337
1. Please try to do this without using ngCordova.
2. If you continue to see this issue without using ngCordova, please specify the platform(s) where you see the issue.

[2015-09-10 13:14] ajenkul commented on #337
@brodybits how to do this without ngCordova? I have no idea. Please help me

[2015-09-10 13:48] brody2consult commented on #337
Please look at the sample programs in README.md.

[2015-09-10 14:06] andyverbunt opened #338 "upgrade to cordova-ios 4.0"
Please upgrade the cordova-sqlite-storage plugin so it supports cordova-ios 4.0

The new cordova version finally supports WKWebView which has much better performance.
Unfortunately, there are breaking changes in the API which means all plugins need to upgrade.

Please check: https://shazronatadobe.wordpress.com/

[2015-09-10 14:34] brody2consult commented on #338
This is because they quietly removed `Cordova/NSData+Base64.h`. This is not the first time they have broken plugins like this. I will raise a bug on Cordova.

[2015-09-10 14:38] brody2consult commented on #338
I just filed https://issues.apache.org/jira/browse/CB-9638.

[2015-09-10 14:39] andyverbunt commented on #338
Hi Chris,

Do you mean that this is the only breaking change regarding your plugin?
Have you looked at the API changes here?
https://github.com/apache/cordova-ios/blob/master/guides/API%20changes%20in%204.0.md

Thanks,
Andy

On Thu, 10 Sep 2015 at 16:34 Chris Brody notifications@github.com wrote:

[2015-09-10 14:46] writeosahon opened #339 "Version 0.7.11-dev Not Installing on Intel XDK"
hello @brodybits . Thanks for this plugin. I have been using it in my project for some months now (about 8 months) without issues.
However, the latest update (0.7.11-dev) refused to install and build with my app. I am using Intel XDK with Cordova Android CLI 4.1.2 . Unfortunately, the Intel XDK doesn't provide a detailed log, it just indicates that it could not install your plugin.
To test that th

[2015-09-10 14:46] brody2consult commented on #338
Yes, and I am about to disable it.

Thanks, none of those changes affect this plugin.

[2015-09-10 15:04] brody2consult commented on #338
Just fixed to build with cordova-ios 4.0, please close if it works for you.

[2015-09-10 20:34] RyanESCO commented on #339
I'm also having the same issue building in Intel XDK as @writeosahon.  "Error: Plugin sqlitePlugin failed to install."

[2015-09-10 21:01] brody2consult commented on #339
Can you guys report which host OS (i.e. OSX, Windows, or Linux) you see this on?

[2015-09-10 21:35] RyanESCO commented on #339
I'm using Windows 7.

[2015-09-10 21:57] writeosahon commented on #339
@brodybits I'm using Windows 8.1.

[2015-09-11 01:18] ajenkul commented on #337
Ok I'll give a try. Thanks!

[2015-09-11 02:02] tomisacatyet opened #340 "use crosswalk，when executeSql ，always throw new transaction is waiting for open operation"
i solve crosswalk+sqlite crash by this link:
https://github.com/litehelpers/Cordova-sqlite-storage/issues/336
but now when i execute sql , the log below:
SQL : select count(_) as count from chat_record where receiver_id = ? and is_read = ?
SQLitePlugin.js:105 new transaction is waiting for open operation
ionic.bundle.min.js:5 SQL : select count(_) as count, unique_identification from chat_record w

[2015-09-11 03:01] ajenkul opened #341 "Can we open database in sub directory of www folder?"
I have a lot of sqlite database file. I want to put it in its category like this path: `www/data/a/data.sqlite`
If all of my database located in www it is to hard to manage it. Any solution for this?

[2015-09-11 07:24] brody2consult commented on #340
~~Please make sure you use `androidDatabaseImplementation: 2` in the openDatabase() options, as described in README.md.~~

_EDIT:_ You _may_ have to use `androidDatabaseImplementation: 2` in the openDatabase() options, as described in README.md.

[2015-09-11 07:35] brody2consult commented on #341
In general, anything in a www subdirectory is considered a resource and would be read-only.

If you want to specify a subdirectory within an app's documents or data directory, it would be an enhancement request for consideration.

[2015-09-11 07:42] ajenkul commented on #341
No I just only want to place it in www subdirectory in order to manage it easier. I don't care where it will copy to.

[2015-09-11 08:12] andyverbunt commented on #338
It compiles :)
Unfortunately I cannot easily test it because I have other plugins in my app that are not yet compatible with the new API.

Can you confirm that the compilation has a lot of warnings like these?

[code]

[2015-09-11 08:16] brody2consult commented on #338
Yes, unfortunately. Ideally, we should add the compilations flags to plugin.xml to suppress these warnings on sqlite3.c.

[2015-09-11 08:19] andyverbunt commented on #338
Just checking ;)

Anyways, thanks for the lightning fast response.
I'll close the issue.

[2015-09-11 08:19] #338 closed, assigned to nobody

[2015-09-11 08:27] lcsoka opened #342 "Missing native driver"
Hi i wanted to install this plugin via cordova but i got the following error:
..plugins/io.litehelpers.cordova.sqlite/src/android/libs/arm64-v8a/libsqlc-native-driver.so" not found!
I solved it by downloading the previous commit and unzipped the jar.

[2015-09-11 08:57] brody2consult commented on #342
I just added the native libraries that were missing. Please try it again.

[2015-09-11 08:59] brody2consult commented on #340
I just added the native libraries that were missing. Please try it again, and try it first without `androidDatabaseImplementation: 2` in the openDatabase() options.

[2015-09-11 09:00] brody2consult commented on #339
Please try it again. I just added the native Android libraries that were missing.

[2015-09-11 09:01] lcsoka commented on #342
Thank you now it works.

[2015-09-11 09:03] brody2consult commented on #336
I just updated the project to distribute the native Android library files individually. You may not have to include `androidDatabaseImplementation: 2` in your openDatabase options anymore.

[2015-09-11 09:34] brody2consult commented on #342
:+1: Thanks for reporting.

[2015-09-11 09:34] #342 closed, assigned to nobody

[2015-09-11 09:36] screendriver opened #343 "How to make an asynchronous transaction?"
I have a really large blob of JSON data that can't be handled in memory at once. So I use [Oboe.js](http://oboejs.com) to process this JSON data as a stream. Unfortunately your library handles transaction in one big transaction function:

[code]

Is there a way to make a database transaction that can manage asynchronous code? I thought something like that:

[code]

[2015-09-11 10:01] brody2consult commented on #343
This idea is in consideration for the future. Here is a workaround that you can try, to take some extra control over the transaction mechanism.

Make the following change to SQLitePlugin.js:

[code]

This will cause the plugin to stop using BEGIN/COMMIT/ROLLBACK. Then you have to do something like `db.executeSql('BEGIN')` at the beginning, `db.executeSql('COMMIT')` to commit, and `db.executeSql('R

[2015-09-11 10:12] enricodeleo commented on #336
@brodybits Great! Thank you!

[2015-09-11 10:29] screendriver commented on #343
Thank you for the workaround. I will try it out.
Is there a roadmap or something when this feature will be available in the official release?

[2015-09-11 10:55] brody2consult commented on #343
Unfortunately I really cannot promise anything for free right now, due to some changing priorities.

[2015-09-11 10:56] screendriver commented on #343
All right. Should we close this issue or leave it open until this feature is implemented?

[2015-09-11 11:17] brody2consult commented on #343
Let's leave it open. I do want to add this when I get a chance.

[2015-09-11 11:23] screendriver commented on #343
:+1:

[2015-09-11 13:37] hanthomas commented on #336
@brodybits Cool deal!

[2015-09-11 21:23] writeosahon commented on #339
@brodybits Hello.
I just tried the plugin again and your additions fixed it. The plugin now installs and builds correctly.
Thanks for this.

[2015-09-11 21:43] cepm-nate opened #344 "Interfaced locked during inserts?"
Inside a looping insert statement I have a progress calculator which updates a percentage on the screen. in WebSQL (Chrome on Windows) this works without a problem. If I use Android or iOS native WebSQL, this also works without a problem.

When I switch to this storage plugin, the updating percentage displayed does not update until after the transaction closes.

The console shows that the update p

[2015-09-11 21:50] ultralisk- commented on #339
Running into a similar issue. Using AppGyver build services, the apk builds however upon opening, the app crashes immediately, logcat shows it can't find libsqlc-native-driver.so

Making AppGyver build using 1720b7f, the app works as expected.

I tried again using 2960afa above, app builds but crashes with the same error.

[2015-09-11 21:56] brody2consult commented on #339
@writeosahon happy to hear, thanks!

[2015-09-11 22:00] brody2consult commented on #339
@ultralisk- the native library is there in 2960afa, please try it with a fresh, new project. If it still does not work please post your sample app code and the logcat output thanks.

[2015-09-11 22:01] brody2consult commented on #344
Please make and post a sample program that can demonstrate your issue, thanks.

[2015-09-11 22:28] ultralisk- commented on #339
Thanks for replying @brodybits. I've created a new test project using the appgyver supersonic/steroids default template, the new app crashes too when opened.

Code here: https://github.com/ultralisk-/steroidssqltest/blob/master/app/example/views/getting-started.html

For the Cordova plugin, I specify the 2960afa commit to build against

[code]

Here's the logcat when the app is opened

[2015-09-11 22:54] cepm-nate commented on #344
Sure thing!

Here is a test case. I use jQuery and jquery mobile to create a div on the page and then update it (you should be able to spot the areas if you need to substitute anything else)

[code]

**To test**
- Copy and paste the code into an active console on a device which has this plugin loaded.
- Run "buggy_percent_test(false)" to see it use the webview WebSQL method.
- Run "buggy_percent_t

[2015-09-11 23:14] brody2consult commented on #339
@ultralisk- this is very strange. It seems to look for the native library in /data/app/com.sqltest.app-1/lib/arm but normally an ARM native library is in either armeabi or armeabi-v7a lib subdirectory.

Please raise a new issue since this issue is about a problem with the Intel XDK, which affected multiple people until I made the change. Please put all details, including which version worked, whic

[2015-09-11 23:35] ultralisk- opened #345 "AppGyver app crashes upon opening when using when using commit 2960afa"
Creating a new issue as requested by @brodybits

Using AppGyver build services to build a test apk against commit 2960afa, the apk will build but crash when opened.

Building against a previous commit, 1720b7f, the app builds and works as expected.

Here's my sample code for the test project - https://github.com/ultralisk-/steroidssqltest/blob/master/app/example/views/getting-started.html

My AppG

[2015-09-11 23:46] brody2consult commented on #344
This plugin batches the transaction statements and sends them when they are ready. When the transaction statements have been executed, the plugin calls the registered sql callback functions. If any of the registered sql callback functions call `tx.executeSql()`, the plugin will collect and run the sql functions (and this can be repeated). When all sql statements in the transaction are finished, th

[2015-09-12 01:11] cepm-nate commented on #344
Thank you for that explanation, but I'm not sure I understand one thing: How can only part of the onSuccess callback of executeSql get called?

If you watch the log (using the code posted above), you will see that executeSql does call it's onSuccess callback without a problem. Inside that function I both a) update the displayed percentage and b) log to the console.

The console shows that onSucces

[2015-09-12 02:09] tomisacatyet commented on #340
@brodybits  you mean i didn‘t open database success may cause the executeSql fail? i will try it later,thanks

[2015-09-13 22:49] juanAFernandez opened #346 "How use this plugin with Ionic framework to Android device?"

[2015-09-16 08:49] tyrtok opened #347 "asynchronous to synchronous?"
Hi Im new to this.

I would like to raise a question if possible.
I realized that the executesql() calls are asynchronous.

lets assuming you are building an app and you query the local sqlite for a certain value. is there any way to wait for the query to finish(outside of transaction scope)?
var data ="";
db.transaction(function (tx) {
   tx.executeSql(yourquery, [], function(tx, rs){
   data = r

[2015-09-16 09:04] brody2consult commented on #344
I suspect there is an issue with how your test program interacts with the DOM, which is beyond the scope of the free support of this project.

[2015-09-16 09:12] brody2consult commented on #346
Popular tutorial at: https://blog.nraboy.com/2014/11/use-sqlite-instead-local-storage-ionic-framework/

Documentation at: http://ngcordova.com/docs/plugins/sqlite/

For more documentation & tutorials: https://www.google.com/search?q=cordova+sqlite+ionic

[2015-09-16 09:37] brody2consult commented on #347
Unfortunately there is no way for a piece of ES3/ES5-complaint Javascript code to simply stop and wait for sqlite results, or any of the other Cordova operations to finish since Cordova makes all native operations work asynchronously with callbacks. It does forces you to think about programming a bit differently, if you want to use ES3/ES5. (ES6 generators and LiveScript try to solve this problem.

[2015-09-16 18:03] MetaMemoryT commented on #347
https://github.com/MetaMemoryT/websql-promise should now work with Cordova-sqlite-storage

[2015-09-17 04:54] tenat opened #348 "Can't read data from database file"
Hi, I need to help. I first time to develop phonegap.
I try to read data from sqlite but emulator show error
" ERROR: a statement with no error hanlder failed: prepare statement failed with error:1 " and ERROR_CODE = 0

Description:
I put database file in to www.
I use cordova Cli to develop this app.

npm version 2.5.1
node version 0.12.0
phonegap version 5.3.1
io.litehelpers.cordova.sqlite 0.7.1

[2015-09-17 07:10] brody2consult commented on #348
You need the `createFromLocation` option, as described in README.md. Keeping discussion in litehelpers/Cordova-sqlite-help#1.

[2015-09-17 07:10] #348 closed, assigned to nobody

[2015-09-17 13:19] BilelKrichen opened #349 "Why db.transaction not working and show nothing in while block ?"
I would like to raise a question if possible.
The alert("test") not working also the tx.executeSql and
 the console show this issue : <b>new transaction is waiting for open operation at file:///android_asset/www/plugins/io.litehelpers.cordova.sqlite/www/SQLitePlugin.js:105</b>

[code]

Thanks

[2015-09-18 04:21] cepm-nate commented on #344
I appreciate the plugin and the help you have provided. Thanks!

On Wed, Sep 16, 2015 at 2:04 AM, Chris Brody notifications@github.com
wrote:

##

[2015-09-18 18:46] 0xae commented on #349
+1, have the same behaviour here !

[2015-09-20 10:20] brody2consult commented on #349
Guys this is not enough information. Please describe which platform you see this issue in. Also the `Functiontorepeat()` references `querysuccess` which is not included here.

[2015-09-23 01:16] tomisacatyet commented on #340
@brodybits  thanks a lot,i update the plugin lastest,and the problem solved !!!

[2015-09-23 01:16] #340 closed, assigned to nobody

[2015-09-23 07:58] postb99 opened #350 "Best way to debug executed sql?"
Hi,

I use a transaction with error and success callback functions defined.
I execute sql using `executeSql` function of the `tx` transaction object.

What's the best function to put logging the sql query I execute in, so as not to get poor performance/too verbose code? Of course I want this debug mode to be configurable.

Thanks,

[2015-09-23 14:33] jlem commented on #225
I'm having this same issue. Here's what I'm doing:
1. Using ionic + angular
2. Installed plugin via `cordova plugin add cordova-sqlite-storage`
3. Attempted the following in my main app.js file:

[code]
1. run `ionic serve` to view it in Chrome on my OSX desktop. Does this even work in desktop chrome, or does it _have_ to run in an iOS emulator or Android emulator?

If it can work in Chrome, what

[2015-09-23 21:13] cepm-nate commented on #344
Just in case anyone else is following this issue:

In my sample app, I coded the update_percent function to look like this

[code]

This skips any jquery selecting method and uses straight up javascript to update the text.

This does not help. When calling buggy_percent_test(true), the on-screen percentage does not update till AFTER the transaction is complete. It still works fine when calling bug

[2015-09-23 22:45] cepm-nate commented on #344
I dug into it by putting the 'Update this text on the screen' command throughout the sqlite plugin js file, and then into the Cordova.js file. It looks like Cordova itself suffers in that it won't update the DOM from a native received message, until all messages have been received. I'm a little surprised nobody has run into this, but perhaps it's because plugins are usually "Do this, return this"

[2015-09-24 09:40] brody2consult commented on #350
For per-statement debugging: `SQLitePluginTransaction.prototype.executeSql` or `SQLitePluginTransaction.prototype.addStatement`

The transactions are actually run in: `SQLitePluginTransaction.prototype.run`

[2015-09-24 09:41] brody2consult commented on #340
:+1:

[2015-09-24 09:50] #225 closed

[2015-09-24 09:53] brody2consult commented on #225
@jlem, unfortunately the `browser` target is not supported by this project, for future consideration (see #297). You might want to check out https://github.com/samikrc/CordovaSQLite (with its own custom API).

For others: this issue was raised almost 6 months ago with not enough information. This issue is now closed and locked.

If you continue to see issues with using this plugin, please follow t

[2015-09-24 11:33] brody2consult commented on #344
It would help if you can explain this a little better.

You _could_ change the executeSql callback something like this to update the DOM from within a DOM timer event instead of a Cordova callback:

[code]

Not sure if this will help you at all.

Also let's not forget that none of the executeSql callbacks will be executed until the entire transaction batch is finished.

[2015-09-24 17:38] cepm-nate commented on #344
After a little more debugging, I've come to the conclusion that you are right! :-)

All the executeSQL responses are queued up, then when the transaction is done, they are all fired.

I think there is a related bug wherein DOM updates are not processed while a transaction is in progress while using the plugin (even if outside the executeSQL callback). Plus, using the plugin is much faster in this

[2015-09-24 17:44] cepm-nate commented on #344
Here's the latest version of my testing app which clearly shows that the GUI just does not update while a transaction is in progress while using the plugin.

[code]

Feel free to close this issue when you want, as it appears that it is not possible without an addition to the plugin to access the 'Progress' feature of SQLite.

[2015-09-24 19:13] brody2consult commented on #344
Thanks for reporting your results. About using `sqlite3_progress_handler()`, I suspect it will show the progress of each _individual_ sql statement which is _not_ what we really want.

I am planning some API enhancements in the future that _may_ help.

[2015-09-24 20:43] cepm-nate commented on #344
I'll look forward to whatever improvements come along! Thanks again for the good support on this plugin.

[2015-09-24 20:43] #344 closed, assigned to nobody

[2015-09-27 11:42] htsnet opened #351 "Support to NOACCENTS"
Is there a way to do a select with the NOACCENTS statement? I couldn´t find a way to do this.

[2015-09-27 14:05] brody2consult commented on #351
It would be possible to add this as an extension function to sqlite, for future consideration.

The recommended workaround is to add an extra column to keep the same data with the accents removed, as described here: http://stackoverflow.com/questions/18123501/replacing-accented-characters-with-plain-ascii-ones

References:
- http://stackoverflow.com/questions/16282083/how-to-ignore-accent-in-sqlit

[2015-09-27 16:44] htsnet commented on #351
Thank you. I was thinking about this solution. I will do it now.

[2015-09-29 08:14] hnakhuva commented on #281
have you found the solution?? I am facing the same problem :(

[2015-09-29 09:52] Gillardo opened #352 "Windows devices error with '"
It appears that if you use a ' in text on a windows device, the plugin errors, even though i am using parametered insert statemenents (ie using ?)

[2015-09-29 09:55] #352 closed, assigned to nobody

[2015-09-29 21:14] jonathancma commented on #277
Hi, just here to say that I'm having this issue as well during compilation. At first glance in my application, nothing is persisted - the application works fine, but when I exit it and enter again, nothing was stored. But this may be unrelated...

[2015-09-29 21:29] brody2consult commented on #277
The original question had two parts:
1. a compilation message
2. a runtime problem
1. The compilation message is merely a warning that something is using an API function that is deprecated, and may actually be removed in the future. It _should_ not cause anything to break right now. I will investigate this when I get a chance.
2. The runtime problem in the original question had to do with a native

[2015-09-29 21:29] #277 closed, assigned to nobody

[2015-09-30 06:58] jonathancma commented on #277
Reporting back that indeed there is NO persistence issue, that was an unrelated bug. The compilation warning has no apparent effect on the application, but could in the future due to deprecation.
Thanks for your help :)

[2015-10-01 09:51] iosdroid opened #353 "Not working in IOS 9"
I have develop application using this plugin. its working in android and ios 8.4. not working in ios 9

[2015-10-01 10:08] brody2consult commented on #353
Can you please be specific about what is wrong with the behavior in iOS 9 and post any log output you may have?

[2015-10-01 10:16] #353 closed, assigned to nobody

[2015-10-01 10:17] iosdroid commented on #353
sorry its a security issue.Thanks for your reply

[2015-10-02 07:22] EpoX44 commented on #336
This solution doesn't work if you want to use only one apk for every device ("ext.cdvBuildMultipleApks = null;"). Is there anyway to make this work with only one build.apk?

[2015-10-02 07:36] mreinhardt24 commented on #336
@brodybits the problem still exists if you build only one apk for all devices (ext.cdvBuildMultipleApks = null;). Is there any solution to make this work with only one build.apk?

[2015-10-02 07:49] brody2consult commented on #336
@EpoX44 can you do me a favor and run the `tree` command (or otherwise list the contents) of your Android project's `libs`?

[2015-10-02 07:58] mreinhardt24 commented on #336
./platforms/android/libs/
├── arm64-v8a
│   └── libsqlite4java-android-aarch64.so
├── armeabi
│   └── libsqlite4java-android-armv5tejl.so
├── armeabi-v7a
│   └── libsqlite4java-android-armv7l.so
├── sqlite4java.jar
├── x86
│   └── libsqlite4java-android-i686.so
└── x86_64
    └── libsqlite4java-android-x86_64.so

This is in the libs folder.

[2015-10-02 08:23] brody2consult commented on #336
Hmm, it does not show me the native libraries from Crosswalk. It was reported that you will have better luck using the cordova-crosswalk plugin instead of the Crosswalk-cordova project.

[2015-10-02 08:31] mreinhardt24 commented on #336
I use the cordova-crosswalk-webview plugin from https://github.com/crosswalk-project/cordova-plugin-crosswalk-webview

[2015-10-02 08:36] brody2consult commented on #336
Also do you include `androidDatabaseImplementation: 2` in your openDatabase options? It may still be necessary.

[2015-10-02 08:42] mreinhardt24 commented on #336
Yeah I include that.

I also have to say that the app doesn't crash directly. The problem is that if I open it I get the message that the Crosswalk Project Service is not found and that I have to download it from the Appstore. But I set the xwalkMode to embedded and the size of the app on the device shows me that it is embedded.
With the fixes in this thread the app starts as usual without any pro

[2015-10-02 09:57] ncandido commented on #349
I have the sane problem db.transaction block without reason (by a seconds) and only after execute the query.

This problem its raddon not a constant problema but affect my app

Works fine on iOS 8 and Android, but not in iOS 9!

[2015-10-02 13:38] lucascardoso opened #355 "Cannot call method 'transaction' of null"
Hi guys, I'm having a problem when it comes to running a query in the database.

this is the query that is executed:

if anyone can help me right now thanks!

[2015-10-02 14:26] jonatas commented on #355
Is missing something like:

[code]

[2015-10-02 14:39] lucascardoso commented on #355
I'm opening the db:

[code]

[2015-10-03 09:16] jamesbyrneiitd opened #356 "Working Example [with pre-populated database]?"
Hi,

is there a working example that I can directly compile?

I know html/css and have a very limited javascript experience. Going through this tutorial went over my head.

I need to build an app with offline prepopulated database for Android, iOs, Windows & Blackberry. Android and iOS being the priority. Simple features such as Listing, Read in Details with Prev & Next function, Search function.

[2015-10-04 20:50] anujgtm commented on #355
I am also getting the same error as soon as application loads.

[2015-10-05 11:27] lucascardoso commented on #356
Hello, maybe this example will help you.
[Ionuc tutorual poucjdb](https://github.com/ashteya/ionic-tutorial-pouchdb)

[2015-10-06 17:14] srgpqt opened #357 "Fails to build with cordova-ios platform plugin 4.0.0-dev"
Cordova no longer includes NSData+Base64, which causes the sqlite plugin to fail compilation since it uses the (no longer available) CDVNewBase64Encode function in SQLitePlugin.m.

See relevant cordova-ios commit:
https://github.com/apache/cordova-ios/commit/2e5510ea919546850bfc9553fa20bdd2eb562bed

[2015-10-06 17:17] srgpqt commented on #357
I see in newer version of the plugin you've made a note of this issue in the source comments and disable it with a preprocessor directive.

Closing.

[2015-10-06 17:17] #357 closed, assigned to nobody

[2015-10-07 13:23] mauricioac commented on #74
Still getting this using latest version.... :/

[2015-10-07 14:24] mauricioac opened #358 "Out of Memory"
So, we have an app, and among other data, we're storing some images as base64 along with other serialized data.
After inserting about 80 images (not sure how much actually is causing error) as base64 in db, we reload app and it crashes on initialization...

[code]

[2015-10-07 14:28] mauricioac commented on #358
Oh, and this is happening with the normal sqlite plugin and on the enterprise free version...

[2015-10-07 20:11] brody2consult commented on #358
1. Memory problems will be fixed in the free enterprise version only.
2. It is recommended to store images as files using the File API and store the _reference_ in the database.

[2015-10-07 20:11] #358 closed, assigned to nobody

[2015-10-07 20:29] locnguyen commented on #158
Just wondering what the status of bulk inserts is?

[2015-10-07 22:59] mauricioac commented on #358
Our backend is stored as JSON with a lot of nested data, I wanted to keep that structure, and not break up into lots of tables.

I just hit the issue with base64 encoded images while testing offline sync, but the issue is any large-ish string/json. Would putting all data in normal tables (i.e not using a single column for serialized data), make the JsonStringer not blow up and crash? What's the li

[2015-10-08 09:04] brody2consult commented on #356
For a working example please see the following section: https://github.com/litehelpers/Cordova-sqlite-storage#quick-installation-test

For pre-populated database, I made https://github.com/brodybits/Cordova-pre-populated-db-example-android based off Cordova 2.7, will update for Cordova 4.x/5.x when I get a chance.

[2015-10-08 09:06] brody2consult commented on #355
Looks like an installation problem.

[2015-10-08 09:17] brody2consult opened #359 "Possible JNI crash due to Unicode emoji characters"
sqlcipher/android-database-sqlcipher#199 reports that SQLCipher for Android crashes when reading Unicode emoji characters, due to the following bug on Android 1.X-5.X: https://code.google.com/p/android/issues/detail?id=81341

The following code (in Java) reproduces the bug on SQLCipher for Android:

[code]

I expect to see the same problem in the Android version of this plugin since it also uses J

[2015-10-09 12:55] hariharanarasu opened #360 "Need to import json data into sqlite DB"
Hi,

I just need to import json data into sqlite db . is it possible by using this plugin??

[2015-10-09 14:06] lucascardoso commented on #355
Hello @brodybits, and how could I solve this?

[2015-10-09 14:11] brody2consult commented on #355
Please start with a fresh, clean project and run a very simple test program. You may have to try one thing at a time to find out what is causing the problem.

[2015-10-12 14:36] Diliz opened #361 "REGEXP not working"
Hi,

Actually the REGEXP function is not working, since I saw it is working on ios version, and it was marked as working on android too, I think it's a bug or is it me who didn't understand how it's working, I actually tried to add manually a regexp function, but it's not working, dunno what i've done wrong.

Where I saw it was working (And I tested it for ios, also this post confirm that there's

[2015-10-12 14:58] brody2consult commented on #361
I posted an answer to your Stack Overflow question. The information about the Android version in #32 is obsolete since the plugin uses native libraries built in https://github.com/liteglue/Android-sqlite-native-driver.

[2015-10-12 15:04] Diliz commented on #361
Ok, I looked at this libraries, as you pointed here I was thinkin it was an obsolete information too, but I needed confirmation about this from someone here! :)

Thanks for answering me, I will take a look at this libraries then, and thanks again.

[2015-10-12 15:13] CasanovaGregory opened #362 "DELETE statement with "WHERE ... IN" clause"
Hi all,

I'm trying to DELETE a batch of rows in my database using this query :
DELETE FROM my_table WHERE id IN (1,2,3,4,5);

Seems like this statement does not work.
Is it supported by your plugin ?

Simple question, no hurry, I resolved my issue using this statement multiple times :
DELETE FROM my_table WHERE id = 1;

Thanks for the answers !

[2015-10-13 08:07] randdusing opened #363 "List Databases"
Is it possible to list all accessible databases?

[2015-10-13 15:12] brody2consult commented on #361
Adding the "bug" label since REGEXP was working for Android in the past. Also needs to be added to the `spec` test suite. No promise when I will get a chance to fix this.

[2015-10-13 18:46] mirko77 commented on #315
@brodybits I have a question related to this: I need to add a couple of tables to an existing app in production, what are my options? I cannot delete the existing db the user is currently using because that will cause a loss of data.

On top of my head I can easily add a script to create only those 2 tables if the database already exists, just wondering if there is another approach?

Cheers

[2015-10-13 19:37] brody2consult commented on #315
Yes you can simply create the 2 new tables if they do not exist. It is safest to create and populate the new tables _within a single transaction_, so the database would not be left in an intermediate state in case of a failure (the app or OS crashes, for example).

Here is the approach that I would take, pardon the details since I want this to help newcomers as well:

Add a special table to store

[2015-10-13 19:52] mirko77 commented on #315
Thanks @brodybits, very good info!

[2015-10-14 07:44] Diliz commented on #361
No problem, if I got some extra time I will look at it too, and thanks for your answers! :)

I will try some other functions to see if it's the only one affected by this bug or if it's some hidden higher bug.

[2015-10-15 06:24] mreinhardt24 commented on #336
Is there no solution for my problem?

[2015-10-15 17:27] Diliz commented on #361
I saw that you're not using the icu library anymore when compiling the lib.so? (Or is it some other flag who's doing the job, or anything else?) I'm trying to solve this issue, need this regexp function actually, and maybe some more in the icu library later, you're usign amalgamation, which is containing the icu library, but when I add -DSQLITE_ENABLE_ICU to the compile options, there's some error

[2015-10-15 17:56] brody2consult commented on #361
In general, I have not been building the lib*.so with ICU. I think it would take a lot of work to add ICU to the build. But I can think of 2 possible solutions.

The sqlcipher variant at https://github.com/litehelpers/Cordova-sqlcipher-adapter is using the https://github.com/sqlcipher/android-database-sqlcipher build which _does_ have the ICU library integrated. If you cannot include the encryptio

[2015-10-15 18:35] Diliz commented on #361
Ok, thanks brody, I will take a look at it, and yep you guessed right, I looked at all this repos you made.

If I get something to work with all of it I'll let you know on this issue thread, thanks for answering again.

EDIT: I tested the cipher version of the plugin this morning, regexp is working on it, and everything I want too, but now I got one more question about it, is there a performance i

[2015-10-16 08:16] brody2consult commented on #361
@Diliz I just published https://github.com/liteglue/Android-sqlite-native-driver-ICU which you can use to build the native Android lib(s) with ICU (4.4l) embedded. When I build and use the native library with ICU embedded, this plugin passes its full `spec` test suite and the ICU string test is working OK.

Keep in mind that it currently only builds for `armeabi` by default, it should be easy to b

[2015-10-16 08:19] Diliz commented on #361
Thanks again, I will look at it and provide some addons to build for other architectures, no problem.
Again I'll let you know if I run into some problem/issues or if I solve it. See you.

I saw it the minute you posted it x)

EDIT: I found something working with this repo, I saw that there was a problem with the java files, so I tried to modify the one in src/android/io/etc... And I tried to chang

[2015-10-16 11:01] screendriver opened #364 "Can't install with plugman"
[code]

[2015-10-16 11:33] brody2consult commented on #364
You cannot use plugman in a project that is created by the Cordova CLI. If you create a project using the Cordova CLI, then you add the plugin using the following command:

[code]

You can also download the cordova-android distribution, use its bin/create command to create an Android-only project, then you can use `plugman install` to install the plugin in that project.

[2015-10-16 11:35] screendriver commented on #364
`cordova plugin add cordova-sqlite-storage` did it. But in the [docs](https://github.com/litehelpers/Cordova-sqlite-storage#easy-install-with-plugman-tool) you say

[code]

Is it recommended to use plugman instead the "old" `cordova-sqlite-storage`?

[2015-10-16 11:39] screendriver opened #365 "Error callback not fired"
I've got a SQLite table with some NOT NULL constraints. If I want to insert some data and forget to fill these column values it happens nothing. If I try to make the insert statement in my desktop SQLite tool it tells me something like `NOT NULL constraint failed` but if I make the same request with the cordova plugin the error callback isn't called. The same for inserts in tables that does not ex

[2015-10-16 11:46] brody2consult commented on #364
The documentation in README.md needs some cleanup. In the past I found it easier to use the `plugman` solution for testing. But the Cordova CLI is much easier to use, and also much better documented. I would recommend using the Cordova CLI for most users.

[2015-10-16 11:47] screendriver commented on #364
:+1:

[2015-10-16 11:47] #364 closed, assigned to nobody

[2015-10-16 11:47] brody2consult commented on #365
An example would be really helpful.

[2015-10-16 12:05] screendriver commented on #365
Hmm sorry my bad. I've made a wrapper around the transactions and it seems that there is a :beetle:

[2015-10-16 12:05] #365 closed, assigned to nobody

[2015-10-16 12:23] lucascardoso commented on #355
Hello @brodybits, can solve this error. What was happening to me was a keyboard error before initializing the database so db was nil. I installed the plugin ionic-plugin-keyboard keyboard.

Thank you for your help.

[2015-10-16 12:50] brody2consult commented on #355
@lucascardoso happy to hear! Can you do us a favor and describe how you the keyboard error happened?

I would like to get this documented somewhere since it may help others. Thanks!

[2015-10-16 13:05] lucascardoso commented on #355
The error appeared that every time the application initializing. This was the error:
ionic Uncaught TypeError: Can not read property 'Keyboard' of undefined
I did not think it podesse solve my problem transaction, but after installing the keyboard plugin worked perfectly.

Thank you @brodybits.

[2015-10-17 19:11] jdnichollsc commented on #237
Any tutorial? I trying with Ionic Framework but I have errors, help me please

[2015-10-17 21:30] marcdeveloper commented on #237
@jdnichollsc  If you speak spanish You can see and excellent tutorial in unodepiera.com and a good course in video for  only  around 30€.

[2015-10-17 22:09] jdnichollsc commented on #291
For Windows platform? How? :)

[2015-10-19 05:42] screendriver opened #366 "Meaningless error code [error messages]"
I am getting wrong respectively meaningless error messages in my error callback. For example: I made a typo in my insert statement: `INSERTt into...`. Usually I get a syntax error in SQLite but in this cordova plugin I get a `{message: prepare statement failed with error: 1, code: 0}`. I can't really see what's going wrong. Same for not null constraints that must be fulfilled.

[2015-10-19 08:29] brody2consult commented on #366
The message indicates to me that you are using the Android version. In this case, the sqlite error code is simply included within the error message.

[2015-10-19 08:38] screendriver commented on #366
Yes, I am using the Android version. Hmm the only thing I get is `{message: prepare statement failed with error: 1, code: 0}`. So I have to check the error code and compare it with [SQLite Result Codes](https://sqlite.org/c3ref/c_abort.html)?

And why it tells me `error: 1` but `code: 0`? By the way: [SQLite Result Codes](https://sqlite.org/c3ref/c_abort.html) seems a little bit to generic.

[2015-10-19 08:56] sriram275 opened #367 "Is possible to abort all pending transactions before deleting DB?"
Hi..,
I am doing more than 2000 records inserting or updating..so it will run in background. If I want to delete the db by clicking on stop and delete from user while transactions are in background. Is possible to abort all pending transactions and then delete the DB.
I have seen some piece of code from SQLiteplugin.js

[code]

In this method before we calling delete **SQLitePlugin.prototype.openD

[2015-10-19 09:10] brody2consult commented on #310
Thanks @SP1966.

[2015-10-19 09:40] rbahadur opened #368 "Cordova SQLIte Plugin Not Working in Child Windows"
Hello,

My application is working fine when I do not have any pops, but I have a requirement where I need to call a window (POP UP) in which data is loading in iframe, In that I need to fetch some details from data base, but when I am trying to connect to Data base, connection is working, but when I am trying below statement.

db.transaction( function(tx){

},function(tx,error){
console.log("Error

[2015-10-19 09:40] brody2consult commented on #366
The error `code` member is bogus on the Android and Windows platforms, marked in README.md.

[2015-10-19 10:07] brody2consult commented on #367
Yes but it would be a bit of a challenge to get this right. Basically, we would remove all transactions from the queue _except_ for the transaction that is currently in progress, keep a record that the user is attempting to delete the database, and wait for the transaction to finish.

I have already raised #210 to abort all pending transactions when closing a database.

[2015-10-19 10:12] brody2consult commented on #210
As I said in https://github.com/litehelpers/Cordova-sqlite-storage/issues/367#issuecomment-149173263 it would become more complex to abort all pending transactions when deleting a database. Instead, we should simply fix this issue in case of closing a database, and tell the user to close the database before deleting it. If someone tries to delete a database while there are pending (TBD open?) tran

[2015-10-19 10:27] screendriver commented on #366
Hmm ok. So there is no way to indicate what error exactly occurred?

[2015-10-19 10:52] brody2consult commented on #366
I will look into it later this week. According to the Web SQL spec `code` should be `5` in case of a syntax error or `6` in case of a constraint violation.

[2015-10-19 11:01] brody2consult commented on #349
Closing due to lack of reproduction scenario. According to the support policies stated in README.md free support is only offered when a minimum complete, self-contained test program can be provided.

[2015-10-19 11:01] #349 closed, assigned to nobody

[2015-10-19 11:01] #335 closed, assigned to nobody

[2015-10-19 11:02] #332 closed, assigned to nobody

[2015-10-19 11:02] #331 closed, assigned to nobody

[2015-10-19 11:03] brody2consult commented on #360
You can store JSON data in a string field or add a field for each JSON data member.

[2015-10-19 11:03] #360 closed, assigned to nobody

[2015-10-19 11:12] brody2consult commented on #363
If you have an open database you can look at the `db.openDBs` prototype member. You _should_ be able to open an in-memory database using `db=window.sqlitePlugin.openDatabase({name: ":memory:"})` (haven't tested it yet).

[2015-10-19 11:16] brody2consult commented on #362
Please specify which platform(s).

In general, it is best to try the same thing using the sqlite3 CLI.

[2015-10-19 11:27] brody2consult commented on #368
This seems like an issue with cordova-android. Not sure when I will get a chance to test it. BTW cordova-ios supports multiple JS bridge communications methods (iframe or XHR), and it had some problems with the iframe method in the past which seem to have been fixed. Not sure if cordova-android supports multiple bridge communications methods as well.

For reference (iOS version):
- ~~#210~~ _liteh

[2015-10-19 12:15] rbahadur commented on #368
Is there any approach we can do it for android as well, because it is very important for us, other wise whole architecture need to be revisit.

[2015-10-19 12:25] brody2consult commented on #368
You could use Web SQL or W3 local storage API if you target do not care about user backup capability and do not need to support the older Android versions.

[2015-10-19 12:49] rbahadur commented on #368
Thanks for the quick update, we are using Cordova V 1.8 and we have the given line in the file,the bridgemode value is coming as 0, and it is not working of window pop pup.
iOSExec.jsToNativeModes = jsToNativeModes;
iOSExec.setJsToNativeBridgeMode = function(mode) {
   // Remove the iFrame since it may be no longer required, and its existence
    // can trigger browser bugs.
    // https://issues.

[2015-10-19 12:52] brody2consult commented on #368
Can you guys try it with the new version of Cordova?

[2015-10-19 13:22] screendriver commented on #366
Ok thank you.

[2015-10-19 13:33] sriram275 commented on #367
In DB close also we are checking about in progress transactions..so if any pending transactions are there then it's throwing exception..

[code]

So if any pending transactions are there then it won't close the DB.

Let me know if the following steps will helpful means..

**abortAllPendingTransactions** ( for abort pending transactions )
**close** ( to close DB )
**deleteDb** ( to delete the DB )

[2015-10-19 14:02] brody2consult commented on #367
In general that sounds like a good approach. The one issue is that if there is a transaction already in progress, it will probably finish up can call its success callback if successful.

[2015-10-19 15:31] randdusing commented on #363
On iOS at least, the databases are only showing up if they are actually open. I'd like to be able to delete all databases without having to keep track of the names for each one.

[2015-10-19 15:37] brody2consult commented on #363
My bad. I think you will have to use the Cordova File API plugin to get the contents of the database directory. And the database directory path is platform-dependent, needs to be documented!

[2015-10-19 15:38] randdusing commented on #363
Ahh ok, I think my original question was a bit ambiguous with the word accessible. Thanks for the help!

[2015-10-19 23:31] mdvacca commented on #359
Hi @brodybits, thanks for testing this, Is there any plan to fix this bug for versions previous to Android 6.0?

Thanks,
David.

[2015-10-20 11:34] arafath-mk opened #369 "Backing up data files to iCloud"
How do I backup my data saved by Cordova-sqlite-storage plugin to iCloud?
Is it possible? I heard that, if I backup my sqlite data, then Apple will reject my application. Is it true?